<section class="bg-main1 d-flex flex-column align-items-start justify-content-center text-white mt-5">
    <h1 class="font-weight-bold animated fadeIn">/ Vivatia</h1>
    <h5 class="font-weight-lighter animated fadeIn">En un contexto en el cual los papeles dejan de ser <br> protagonistas en los procesos, te ayudamos a <br> emprender un camino de transformación digital <br> aplicando nuevas tecnologías.</h5>
</section>

<section class="bg-main3 py-5 benefitsDesktop flex-column justify-content-center align-items-center animated fadeIn" style="background-color: #F3F3F3">
    <h2 class="mb-4 font-weight-bold">¿Por qué elegirnos?</h2>
    <div class="d-flex mt-3 justify-content-between align-items-center text-center">
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-save.png">
            <p>Generamos ahorros<br>operativos.</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logoGrow.png">
            <p>Reducimos el costo<br>de los procesos.</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-recicle.png">
            <p>Volvemos a las empresas<br>Green Business</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-shield.png">
            <p>Incrementamos la seguridad<br>en la información</p>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: #F3F3F3;">
        <h2 class="my-4 font-weight-bold">¿Por qué elegirnos?</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false'> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-save.png">
                    <p class="mb-5">Generamos ahorros<br>operativos.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logoGrow.png">
                    <p class="mb-5">Reducimos el costo<br>de los procesos.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-recicle.png">
                    <p class="mb-5">Volvemos a las empresas<br>Green Business</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-shield.png">
                    <p class="mb-5">Incrementamos la seguridad<br>en la información</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="nosotros d-flex flex-column align-items-center py-5 animated fadeIn">
    <h2 class="font-weight-bold text-center pb-3">Nosotros</h2>
    <div class="d-flex flex-column text-justify w-75">
        <mat-expansion-panel>
            <!-- TITULO DE EXPANSION PANEL -->
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Nuestra historia
                    </mat-panel-title>
                    <!-- DESCRIPCION E ICONO DE EXPANSION PANEL -->
                    <mat-panel-description>
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="text-nosotros">
                    Vivatia surge del objetivo y la necesidad de expandir los negocios llevados a cabo por Trilogic en la República Argentina, en donde se ha consolidado como empresa líder en la provisión de soluciones para la gestión digital de la información. Debido a la innovación tecnológica que se ha introducido en el campo administrativo y de negocios, esta empresa de capital nacional ha comenzado a expandirse internacionalmente.  
                    <br>
                    <br>
                    Hemos desarrollado e implementado múltiples sistemas integrales de administración de la información para diversos tipos de organizaciones. La disponibilidad inmediata de la información permite que las empresas intensifiquen su competitividad, reduzcan los costos operativos e incrementen la seguridad en el manejo de la documentación, posibilitan la consulta inmediata y concurrente de archivos y mejoran notablemente la atención al cliente.
                    <br>
                    <br>
                    El principal objetivo de la empresa consiste en lograr que sus clientes satisfagan e, incluso, superen las exigencias de los mercados modernos, eleven su eficiencia y se vuelvan esencialmente competitivos. 
                    Contribuimos con una idea absolutamente moderna y novedosa: la “organización sin papeles"
                </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="w-100">
                <!-- TITULO DE EXPANSION PANEL -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Políticas de calidad
                    </mat-panel-title>
                    <!-- DESCRIPCION E ICONO DE EXPANSION PANEL -->
                    <mat-panel-description>
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="d-flex">
                <p class="text-nosotros">
                    1. Contar con un Sistema de Gestión de Calidad que satisfaga todos los requisitos nacionales e internacionales y que se mantenga en constante evolución.
                    <br>
                    <br>
                    2. Mejorar continuamente los productos y servicios, no sólo para lograr el cero defecto sino para lograr impresionar positivamente a quienes los utilicen.
                    <br>
                    <br>
                    3. Garantizar la satisfacción de los clientes mediante la calidad e innovación de las soluciones ofrecidas.
                    <br>
                    <br>
                    4. Brindar a los clientes la posibilidad de respaldarse en la tecnología, conocimiento y capacidades de la empresa, acompañándolos en nuevos emprendimientos y en la mejora continua de sus soluciones actuales.
                    <br>
                    <br>
                    5. Mejorar continuamente los productos y servicios, no sólo para lograr el cero defecto sino para lograr impresionar positivamente a quienes los utilicen.
                    <br>
                    <br>
                    6. Buscar continuamente las oportunidades de mejora de los procesos por medio de la innovación e incorporación de nuevas tecnologías.
                    <br>
                    <br>
                    7. Brindar posibilidades de desarrollo a las personas que trabajan en la empresa, tanto en el plano profesional como en el humano, para que su realización personal se vea reflejada en los productos y servicios brindados por la empresa.
                    <br>
                    <br>
                    8. Fomentar el trabajo en equipo y la colaboración entre las personas que trabajan en la empresa, nuestros clientes, socios de negocios y proveedores.
                    <br>
                    <br>
                    9. Sorprender a nuestros clientes mediante la innovación y la originalidad de nuestras soluciones.
                    <br>
                    <br>
                    10. Involucrar y asistir a los proveedores para que compartan las políticas de calidad de la empresa.
                </p>
                </div>
            
                <!-- CONTENIDO DE EXPANSION PANEL -->

            </mat-expansion-panel>
    </div>
</section>

<!-- falta agregar las imagenes de agus -->
<section class="certificados d-flex pt-2 pb-5 flex-column justify-content-center align-items-center" style="background-color: #f2f2f2;">
    <h2 class="my-4 font-weight-bold text-center">Certificados</h2>
    <div class="d-flex justify-content-around align-items-center">
        <p class="mx-3">Contamos con la certificación de<br><span class="font-weight-bold">Gestión de Calidad IRAM
                RI-9000-6446<br>IQNet Management System.</span></p>
        <img class="home-small-logo" src="assets/iram-footer.png">
        <img class="home-small-logo" src="assets/iqnet-footer.png">
    </div>
</section>