.boton {
    background-color: #29c351;
}

.letra {
    color: #2c773f !important;
}

.letra2 {
    color: #24b54a !important;
}

.letra3 {
    color: #808080;
}

.home-logo {
    max-width: 20rem;
}

.home-small-logo {
    max-width: 4rem;
}

.home-small-logo2 {
    max-width: 8rem;
}

.footer {
    background-color: #F0F0F0;
}

.footer1 {
    background-color: #e6e6e6;
}

ul {
    list-style-type: none;
}

hr {
    border: 1px solid #379750;
    width: 20px;
    margin-left: 0px;
}

.small-logo {
    max-width: 8rem;
}

.bg-main1 {
    background-image: url(/assets/bg-main6.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48%;
}

.bg-main2 {
    background-image: url(/assets/bg-main7.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}

.bg-main2 .mision {
    width: 24%;
    height: 60%;
}

.bg-main2 .vision {
    width: 24%;
    height: 60%;
}

.bg-main3 {
    background-image: url(/assets/bg-main5.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

button:focus {
    outline: 0;
}

// ¿POR QUE ELEGIRNOS?

.benefitsMobile {
    display: none;
}

.benefitsDesktop {
    display: flex;
}


////////////////////////// RESPOSIVE //////////////////////
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .bg-main1 {
        background-image: url(/assets/bg-main6.png);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        height: 30%;
    }
    .bg-main1 h3 {
        font-size: 0.9rem;
    }

    .bg-main2 {
        flex-direction: column;
    }

    .bg-main2 {
        font-size: 12px;
    }

    .bg-main2 .mision {
        width: 80%;
        text-align: justify;
    }

    .bg-main2 .mision h3{
        font-size: 20px;
    }

    .bg-main2 .vision {
        width: 80%;
        text-align: justify;
    }

    .bg-main2 .vision h3{
        font-size: 20px;
    }

    // ¿POR QUE ELEGIRNOS?

    .benefitsDesktop {
        display: none;
    }
  
    .benefitsMobile {
        display: flex;
        font-size: 110%;
    }

    .benefitsMobile h2 {
        font-size: 20px;
    }

    // NOSOTROS

    .nosotros h2 {
        font-size: 20px;
    }

    .nosotros .text-nosotros {
        font-size: 10px;
    }

    // CERTIFICADOS

    .certificados h2 {
        font-size: 20px;
    }

    .certificados img {
        width: 10%;
        height: 10%;
    }

    .certificados p {
        font-size: 10px;
    }
}