body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
}

// HEADER

.bg-main1 {
    background-image: url('../../../assets/nosotros-header.png');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}

h1 {
    font-family: 'Montserrat';
    padding-left: 10%;
}

h5 {
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding-left: 10%;
}


// ¿POR QUE ELEGIRNOS?

.bg-main3 {
    background-image: url('../../../assets/bg-main5.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.small-logo {
    max-width: 8rem;
}

.benefitsMobile {
    display: none;
}

.benefitsDesktop {
    display: flex;
}


////////////////////////// RESPONSIVE //////////////////////
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .bg-main1 {
        background-image: url('../../../assets/nosotros-header.png');
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        height: 40%;
        padding-left: 0%;
    }
    
    h1 {
        font-size: 20px;
        padding-left: 6%;
    }
    
    h5 {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.5px;
        padding-left: 6%;
    }

    // ¿POR QUE ELEGIRNOS?

    .benefitsDesktop {
        display: none;
    }
  
    .benefitsMobile {
        display: flex;
        font-size: 110%;
    }

    .benefitsMobile h2 {
        font-size: 20px;
    }

    // NOSOTROS

    .nosotros h2 {
        font-size: 20px;
    }

    .nosotros .text-nosotros {
        font-size: 10px;
    }

    // CERTIFICADOS

    .certificados h2 {
        font-size: 20px;
    }

    .certificados img {
        width: 10%;
        height: 10%;
    }

    .certificados p {
        font-size: 10px;
    }
}