<section class="bg-main1 d-flex flex-column align-items-start justify-content-center text-white mt-5">
    <div class="text-header">
        <h1 class="font-weight-bold animated fadeInDown">Vivatia</h1>
        <h5 class="font-weight-lighter animated fadeInDown">{{ "NOSOTROS.DESCRIPCION_HEADER" | translate }}</h5>
    </div>
</section>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 h-auto py-5" style="background-color: white;">
    <div class="d-flex flex-column descripcion animated fadeInRight">
        <h4 class="font-weight-bold">{{ "NOSOTROS.NUESTRA_HISTORIA" | translate }}</h4>
        <br>
        <h6>{{ "NOSOTROS.NUESTRA_HISTORIA_DESC" | translate }}</h6>
        <br>
    </div>
    <div class="animated fadeInRight">
        <img src="assets/logo-secundario.png" class="img-historia" alt="">
    </div>
</div>

<div class="makingitwork d-flex text-white flex-column align-items-center py-5">
    <div class="w-50">
        <div class="d-flex justify-content-start my-1 animated fadeInRight">
            <h4 class="font-italic" [innerHTML]="'NOSOTROS.MAKINGITWORK1' | translate"></h4>
        </div>
        <div class="d-flex justify-content-center animated fadeIn">
            <img src="assets/itwork.png" class="img-makingitwork">
        </div>
        <div class="d-flex justify-content-end my-1 animated fadeInLeft">
            <h4 class="font-italic" [innerHTML]="'NOSOTROS.MAKINGITWORK2' | translate"></h4>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem h-auto py-5" style="background-color: #F3F3F3;">
    <div class="d-flex flex-column descripcion animated fadeInRight">
        <h4 class="font-weight-bold">{{ "NOSOTROS.DONDE_ESTAMOS" | translate }}</h4>
        <br>
        <h6>{{ "NOSOTROS.DONDE_ESTAMOS_DESC" | translate }}</h6>
        <br>
        <h6 class="paises">{{ "NOSOTROS.PAISES_DONDE_ESTAMOS" | translate }}</h6>
    </div>
    <div>
        <img src="assets/paises.png" class="img-paises" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 h-auto py-5" style="background-color: white;">
    <div class="d-flex flex-column descripcion animated fadeInRight">
        <h4 class="font-weight-bold">{{ "NOSOTROS.NUESTRO_EQUIPO" | translate }}</h4>
        <br>
        <h6>{{ "NOSOTROS.NUESTRO_EQUIPO_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/nuestro-equipo.png" class="img-equipo" alt="">
    </div>
</div>

<section class="bg-main3 h-auto py-5 benefitsDesktop flex-column justify-content-center align-items-center animated fadeIn" style="background-color: #F3F3F3">
    <h2 class="mb-5 font-weight-bold">{{ "NOSOTROS.PORQUE_ELEJIRNOS" | translate }}</h2>
    <div class="d-flex mt-3 justify-content-center align-items-center text-center w-75">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-4 small-logo" src="assets/logo-save.png">
            <p [innerHTML]="'NOSOTROS.BENEFICIO1' | translate"></p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-4 small-logo" src="assets/logoGrow.png">
            <p [innerHTML]="'NOSOTROS.BENEFICIO2' | translate"></p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-4 small-logo" src="assets/logo-recicle.png">
            <p [innerHTML]="'NOSOTROS.BENEFICIO3' | translate"></p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-4 small-logo" src="assets/logo-shield.png">
            <p [innerHTML]="'NOSOTROS.BENEFICIO4' | translate"></p>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: #F3F3F3;">
        <h2 class="my-4 font-weight-bold">{{ "NOSOTROS.PORQUE_ELEJIRNOS" | translate }}</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-save.png">
                    <p class="mb-5" [innerHTML]="'NOSOTROS.BENEFICIO1' | translate"></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-5 small-logo" src="assets/logoGrow.png">
                    <p class="mb-5" [innerHTML]="'NOSOTROS.BENEFICIO2' | translate"></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-recicle.png">
                    <p class="mb-5" [innerHTML]="'NOSOTROS.BENEFICIO3' | translate"></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-shield.png">
                    <p class="mb-5" [innerHTML]="'NOSOTROS.BENEFICIO4' | translate"></p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="certificados d-flex py-5 flex-column justify-content-center align-items-center" style="background-color: white;">
    <div class="d-flex justify-content-around align-items-center">
        <p class="mx-3">Contamos con la certificación de<br><span class="font-weight-bold">Gestión de Calidad IRAM
                RI-9000-6446<br>IQNet Management System.</span></p>
        <img class="home-small-logo" src="assets/iram-footer.png">
        <img class="home-small-logo" src="assets/iqnet-footer.png">
    </div>
</section>