<section class="bg-main1 d-flex flex-column align-items-center justify-content-center text-center text-white">
    <img src="assets/title-main.png" class="title-main mb-3 mt-3 pt-3">
    <h3 class="font-weight-bold">20 años de experiencia en el mercado</h3>
</section>

<section class="bg-main2 d-flex justify-content-center align-items-center p-4">
    <div class="mx-4 mision py-2">
        <h3 class="font-weight-bold">Misión</h3>
        <hr>
        <p>Ayudar a las empresas a transformarse digitalmente, implementando nuevas tecnologías y generando ahorros operativos.</p>
    </div>

    <div class="mx-4 vision py-2">
        <h3 class="font-weight-bold">Visión</h3>
        <hr>
        <p>Ser una empresa reconocida a nivel regional destacándonos por nuestras buenas prácticas y nuestra capacidad de transformar procesos.</p>
    </div>
    <!-- <div class="d-flex flex-column align-items-center justify-content-center">
        <button mat-raised-button class="w-25 mt-4 rounded-pill boton text-white"
            (click)="openDialog()">Contactanos</button>
    </div> -->
</section>

<section class="bg-main3 py-5 benefitsDesktop flex-column justify-content-center align-items-center" style="background-color: #f2f2f2;">
    <h2 class="mb-4 font-weight-bold">¿Por qué elegirnos?</h2>
    <div class="d-flex mt-3 justify-content-between align-items-center text-center">
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-save.png">
            <p>Generamos ahorros<br>operativos.</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logoGrow.png">
            <p>Reducimos el costo<br>de los procesos.</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-recicle.png">
            <p>Volvemos a las empresas<br>Green Business</p>
        </div>
        <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
            <img class="mb-4 small-logo" src="assets/logo-shield.png">
            <p>Incrementamos la seguridad<br>en la información</p>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center" style="background-color: #f2f2f2;">
        <h2 class="my-4 font-weight-bold">¿Por qué elegirnos?</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false'> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-save.png">
                    <p class="mb-5">Generamos ahorros<br>operativos.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logoGrow.png">
                    <p class="mb-5">Reducimos el costo<br>de los procesos.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-recicle.png">
                    <p class="mb-5">Volvemos a las empresas<br>Green Business</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-shield.png">
                    <p class="mb-5">Incrementamos la seguridad<br>en la información</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="nosotros d-flex flex-column align-items-center py-5">
    <h2 class="font-weight-bold text-center pb-3">Nosotros</h2>
    <div class="d-flex flex-column text-justify w-75">
        <mat-expansion-panel>
            <!-- TITULO DE EXPANSION PANEL -->
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Antecedentes
                    </mat-panel-title>
                    <!-- DESCRIPCION E ICONO DE EXPANSION PANEL -->
                    <mat-panel-description>
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="text-nosotros">
                    Vivatia es la marca que ha desarrollado Trilogic para hacer conocer sus productos, servicios y soluciones para la Gestión Digital de la Información, en el mundo.
                    Trilogic es una empresa argentina fundada en 1999 por especialistas en Tecnologías de la Información con amplia formación y antecedentes en implementación y mantenimiento de soluciones informáticas. 
                    <br>
                    <br>
                    Los socios fundadores de Trilogic han adquirido experiencia y conocimientos a lo largo de doce años desarrollando, implementando y manteniendo soluciones informáticas en el área de Gestión Electrónica de Documentos mediante la utilización de tecnologías de imaging, workflow y COLD. Experiencia y conocimiento que sumados al espíritu emprendedor y la constante iniciativa de innovación han permitido desarrollar una serie de productos y soluciones para los diferentes tipos de organizaciones.
                    Trilogic ha desarrollado e implementado Sistemas Integrales de Administración de Información para diversos tipos de organizaciones, que permiten acceder en forma directa e inmediata a la misma, aumentando la competitividad de las empresas, reduciendo sus costos operativos e incrementando la seguridad en el manejo de su documentación.
                    <br>
                    <br>
                    La utilización de soluciones digitales hace posible que las personas se encuentren focalizadas en su trabajo específico y no tengan que distraer recursos en obtener y manejar la documentación. A partir de la disponibilidad de la información en forma inmediata y oportuna, se logra maximizar la productividad y eficiencia de los recursos durante la realización de sus tareas diarias, asegurando una rápida respuesta en la atención al cliente y proveedores, que se encuentran vinculados con los procesos del negocio.
                    Los servicios ofrecidos tienen como principales destinatarios a bancos, entidades financieras, compañías aseguradoras, obras sociales, organismos estatales, hipermercados y cualquier tipo de organización que sean generadora y receptora de importantes volúmenes de documentación.                
                </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="w-100">
                <!-- TITULO DE EXPANSION PANEL -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Políticas de calidad
                    </mat-panel-title>
                    <!-- DESCRIPCION E ICONO DE EXPANSION PANEL -->
                    <mat-panel-description>
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="d-flex">
                <p class="text-nosotros">
                    1. Contar con un Sistema de Gestión de Calidad que satisfaga todos los requisitos nacionales e internacionales y que se mantenga en constante evolución.
                    <br>
                    <br>
                    2. Mejorar continuamente los productos y servicios, no sólo para lograr el cero defecto sino para lograr impresionar positivamente a quienes los utilicen.
                    <br>
                    <br>
                    3. Garantizar la satisfacción de los clientes mediante la calidad e innovación de las soluciones ofrecidas.
                    <br>
                    <br>
                    4. Brindar a los clientes la posibilidad de respaldarse en la tecnología, conocimiento y capacidades de la empresa, acompañándolos en nuevos emprendimientos y en la mejora continua de sus soluciones actuales.
                    <br>
                    <br>
                    5. Mejorar continuamente los productos y servicios, no sólo para lograr el cero defecto sino para lograr impresionar positivamente a quienes los utilicen.
                    <br>
                    <br>
                    6. Buscar continuamente las oportunidades de mejora de los procesos por medio de la innovación e incorporación de nuevas tecnologías.
                    <br>
                    <br>
                    7. Brindar posibilidades de desarrollo a las personas que trabajan en la empresa, tanto en el plano profesional como en el humano, para que su realización personal se vea reflejada en los productos y servicios brindados por la empresa.
                    <br>
                    <br>
                    8. Fomentar el trabajo en equipo y la colaboración entre las personas que trabajan en la empresa, nuestros clientes, socios de negocios y proveedores.
                    <br>
                    <br>
                    9. Sorprender a nuestros clientes mediante la innovación y la originalidad de nuestras soluciones.
                    <br>
                    <br>
                    10. Involucrar y asistir a los proveedores para que compartan las políticas de calidad de la empresa.
                </p>
                </div>
            
                <!-- CONTENIDO DE EXPANSION PANEL -->

            </mat-expansion-panel>
    </div>
</section>

<!-- falta agregar las imagenes de agus -->
<section class="certificados d-flex pt-2 pb-5 flex-column justify-content-center align-items-center" style="background-color: #f2f2f2;">
    <h2 class="my-4 font-weight-bold text-center">Certificados</h2>
    <div class="d-flex justify-content-around align-items-center">
        <p class="mx-3">Contamos con la certificación de<br><span class="font-weight-bold">Gestión de Calidad IRAM
                RI-9000-6446<br>IQNet Management System.</span></p>
        <img class="home-small-logo" src="assets/iram-footer.png">
        <img class="home-small-logo" src="assets/iqnet-footer.png">
    </div>
</section>