// HEADER

h1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin: 0%;
}

.header {
    background-image: url('../../../../../assets/banco-header.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    opacity: 1.47;
}

.text-header {
    width: 70%;
    padding-left: 10%;
    animation-delay: 0.3s;
}

h5 {
    font-size: 30px;
    line-height: 2.0;
    margin: 0%;
}

// SOLUCIONES PARA TU INDUSTRIA

.logo-solucion {
    max-width: 6rem;
}

.bg-main2 {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.soluciones {
    flex-direction: row;
}

.solucion {
    width: 18%;
}

.solucion h5 {
    line-height: 1.3;
    margin: 0%;
}

// BENEFICIOS 

.bg-main3 {
    background-image: url('../../../../../assets/bg-main5.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.small-logo {
    max-width: 6rem;
}

.benefitsMobile {
    display: none;
}

.benefitsDesktop {
    display: flex;
}

.benefit {
    width: 22%;
}

.benefit h5 {
    font-weight: bold;
}

p {
    font-size: 13px;
    width: 60%;
}


// Notebook
@media (min-width: 900px) and (max-width: 1920px) {
    h1 {
        font-size: 65px;
    }

    h5 {
        font-size: 15px;
        font-weight: lighter;
        line-height: 1.8;
        letter-spacing: 0.5px;
    }
}

// iPhone X
@media only screen and (min-width: 100px) and (max-width: 900px) {
    // HEADER

    .header {
        padding-top: 20%;
        height: 58%;
        opacity: 1.47;
    }

    .text-header {
        width: 100%;
        padding: 12px;
    }

    h1 {
        font-size: 52px;
    }

    h5 {
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }

    // SOLUCIONES PARA TU INDUSTRIA

    .soluciones {
        flex-direction: row;
    }

    .solucion {
        width: 40%;
    }

    // BENEFICIOS

    .benefitsDesktop {
        display: none;
    }
    
    .benefitsMobile {
        display: flex;
        font-size: 110%;
    }

    .benefitsMobile h2 {
        font-size: 20px;
    }

    .benefitsMobile h5 {
        font-size: 20px;
        font-weight: bold;
    }
}
