<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Industria financiera</h1>
        <h5 class="w-75 text-white">Contamos con soluciones que mejoran tus procesos, aportamos resultados rápidos en tu transformación digital y potenciamos tu negocio. Diseñamos múltiples procesos financieros con soluciones altamente eficientes, seguras y confiables. Éstas son algunas de las soluciones que confían las industrias financieras líderes para satisfacer con éxito sus necesidades empresariales.</h5>
    </div>
</div>

<app-personalizacion></app-personalizacion>

<section class="bg-main3 benefitsDesktop flex-column justify-content-center align-items-center" style="background-color: #F3F3F3">
    <h2 class="mb-4 font-weight-bold animated fadeInDown">Beneficios</h2>
    <div class="d-flex mt-4 justify-content-center align-items-start text-center w-75">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-save.png">
            <h5 class="mb-1">Ahorro en papel</h5>
            <p>Al digitalizar tus documentos vas a ahorrar en papel</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logoGrow.png">
            <h5 class="mb-1">Automatización</h5>
            <p>Tus procesos van a ser más rápidos</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-recicle.png">
            <h5 class="mb-1">Seguridad</h5>
            <p>Despreocupate, todo el proceso está bajo control</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-shield.png">
            <h5 class="mb-1">Optimización</h5>
            <p>Además, vas a ahorrar en tiempos.</p>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: #F3F3F3;">
        <h2 class="my-4 font-weight-bold">Beneficios</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-save.png">
                    <p class="mb-5">Generamos ahorros operativos</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logoGrow.png">
                    <p class="mb-5">Incrementamos la productividad</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-recicle.png">
                    <p class="mb-5">Volvemos a las empresas Green Business</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-shield.png">
                    <p class="mb-5">Incrementamos la seguridad</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<app-sumate></app-sumate>