<!-- <section class="bg-main1 d-flex flex-column text-white justify-content-center align-items-center">
    <h3 class="font-weight-light">Desarrollamos soluciones para multiples industrias y procesos</h3>
    <button mat-raised-button class="mt-3 rounded-pill boton text-white"
        (click)="openDialogContact()">Contactanos</button>
</section> -->

<div class="bg-main2">
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="mb-3 mt-2 font-weight-bold">Nuestras Soluciones</h2>
        <h4 class="mb-4 font-weight-bold letra text-center">Creamos soluciones para múltiples industrias</h4>
        <div class="d-flex industrias w-100 align-items-center justify-content-center">
            <button routerLink="/banca" mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 0.5s">
                <img src="/assets/banca-logo.png" alt="banca-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Banca</h6>
            </button>
            <button routerLink="/seguros" mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 0.7s">
                <img src="/assets/seguros-logo.png" alt="seguros-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Seguros</h6>
            </button>
            <button mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 0.9s">
                <img src="/assets/salud-logo.png" alt="salud-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Salud</h6>
            </button>
            <button mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 1.1s">
                <img src="/assets/industria-logo.png" alt="industria-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Industria</h6>
            </button>
            <button mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 1.3s">
                <img src="/assets/gobierno-logo.png" alt="gobierno-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Gobierno</h6>
            </button>
            <button mat-raised-button class="box d-flex align-items-center justify-content-center animated fadeInDown" style="animation-delay: 1.5s">
                <img src="/assets/educacion-logo.png" alt="educacion-logo" class="logo-industria mb-2">
                <h6 class="letra font-weight-bold">Educación</h6>
            </button>
            <!-- <button mat-raised-button class="letra box d-flex align-items-center justify-content-center">
                <mat-icon>add_box</mat-icon>
            </button> -->
        </div>
    </section>

    <section class="py-5 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-flex-end">
            <div class=" d-flex flex-column align-items-center">
                <!-- <img class="logo-plus" src="assets/logo-plus.png"> -->
                <h4 class="font-weight-light letra">Nuestro laboratorio se encuentra creando nuevas soluciones tú a medida</h4>
                <h4 class="font-weight-bold letra">¡Contanos tú proceso!</h4>
                <button mat-raised-button class="mt-3 rounded-pill boton text-white"
                    (click)="openDialogContact()">Contactanos</button>
            </div>
        </div>
    </section>
</div>
