<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Legajos digitales</h1>
        <h5 class="w-75 text-white">Te ayudamos a resguardar la documentación del cliente en un único repositorio digital con la finalidad de unificar y simplificar la administración de tu información.</h5>
    </div>
</div>

<section class="bg-main3 benefitsDesktop flex-column justify-content-center align-items-center" style="background-color: #F3F3F3">
    <h2 class="mb-4 font-weight-bold animated fadeInDown">Beneficios</h2>
    <div class="d-flex mt-4 justify-content-center align-items-start text-center w-75">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-save.png">
            <h5 class="mb-1">Ahorro en papel</h5>
            <p>Al digitalizar tus documentos vas a ahorrar en papel</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logoGrow.png">
            <h5 class="mb-1">Automatización</h5>
            <p>Tus procesos van a ser más rápidos</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-recicle.png">
            <h5 class="mb-1">Seguridad</h5>
            <p>Despreocupate, todo el proceso está bajo control</p>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/logo-shield.png">
            <h5 class="mb-1">Optimización</h5>
            <p>Además, vas a ahorrar en tiempos.</p>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: #F3F3F3;">
        <h2 class="my-4 font-weight-bold">Beneficios</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-save.png">
                    <p class="mb-5">Generamos ahorros operativos</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logoGrow.png">
                    <p class="mb-5">Incrementamos la productividad</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-recicle.png">
                    <p class="mb-5">Volvemos a las empresas Green Business</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/logo-shield.png">
                    <p class="mb-5">Incrementamos la seguridad</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<div class="d-flex py-4 justify-content-center">
    <h4 class="font-weight-bold">¿Como personalizamos tu proceso?</h4>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra5"><span class="green-borderh4">1. Digitalización</span></h4>
        <br>
        <h6>Utilizando <span class="letra4 font-weight-bold">Captika Software</span>, se identificarán los diferentes tipos de documentos, indexando y asociando los datos que permitan vincularlas con los diferentes legajos.</h6>
        <br>
    </div>
    <div>
        <img src="assets/captika1.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">2. Publicación de imágenes</span></h4>
        <br>
        <h6>Al liberar el lote con las imágenes digitalizadas, se conformarán nuevos legajos o se completarán legajos ya existentes, los cuales contendrán toda la documentación y podrán organizarse en sub-carpetas, de acuerdo al tipo de documento.</h6>
        <br>
    </div>
    <div>
        <img src="assets/reconocimiento.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">3. Búsqueda y consulta</span></h4>
        <br>
        <h6>En cualquier momento, personas autorizadas podrán realizar búsquedas de de documentos y visualizar las imágenes correspondientes.</h6>
        <br>
    </div>
    <div>
        <img src="assets/captika1.png" class="img-cap1" alt="">
    </div>
</div>



<app-sumate></app-sumate>
