<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Legajos digitales</h1>
        <h5 class="w-75 text-white">La gestión del legajo de personal es un punto crítico en una organización. Nuestra solución permite gestionar toda la documentación centralizada en el concepto de Legajo Digital del empleado sin importar el formato o soporte de origen del documento. Incluso te ofrecemos implementar la firma digital como herramienta para darle validez legal a documentos electrónicos que así lo requieren.</h5>
    </div>
</div>

<div class="d-flex py-4 flex-column text-center align-items-center">
    <h4 class="font-weight-bold mt-4 mb-3">¿Como personalizamos tu proceso?</h4>
    <h6 class="text-personalizacion">Proponemos la captura, edición y publicación electrónica de los documentos, dejandolos en <span class="letra6 font-weight-bold">Thuban Software</span> para que desde allí puedan ser consultados por usuarios previamente habilitados.</h6>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra5"><span class="green-borderh4">1. Digitalización</span></h4>
        <br>
        <h6>Utilizando <span class="letra4 font-weight-bold">Captika Software</span>, se identificarán los diferentes tipos de documentos, indexando y asociando los datos que permitan vincularlas con los diferentes legajos.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cap1.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">2. Publicación de imágenes</span></h4>
        <br>
        <h6>Al liberar el lote con las imágenes digitalizadas, se conformarán nuevos legajos o se completarán legajos ya existentes, los cuales contendrán toda la documentación y podrán organizarse en sub-carpetas, de acuerdo al tipo de documento.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-leg1.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">3. Búsqueda y consulta</span></h4>
        <br>
        <h6>En cualquier momento, personas autorizadas podrán realizar búsquedas de de documentos y visualizar las imágenes correspondientes.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-leg2.png" class="img-cap2" alt="">
    </div>
</div>



<app-sumate></app-sumate>
