<section class="d-flex align-items-center justify-content-center contenedor">
    <div class="d-flex texto align-items-left animated fadeInDown" style="animation-delay: 0.4s;">
        <h1 class="letra5 font-weight-bold">Soluciones de transformación digital</h1>
        <h5 class="letra5 font-weight-light mb-4">Diseñamos soluciones que facilitan los procesos de tu empresa</h5>
    </div>
    <!-- w-50 + flex wrap para agrupar de a 3 -->
    <div class="d-flex industrias flex-wrap align-items-center justify-content-center soluciones pb-2 animated fadeInDown" style="animation-delay: 0.6s;">
        <button *ngFor="let data of dataCards, let i = index" mat-raised-button class="box d-flex align-items-center justify-content-center" [routerLink]="data.path">
            <img [src]="data.image" alt="contratos" class="logo-industria">
            <h6 class="letra5 font-weight-bold mt-3">{{data.name}}</h6>
        </button>
    </div>
</section>
