<section class="d-flex flex-column align-items-center justify-content-center" style="background-color: #F3F3F3;">
    <h5 class="mt-5 mb-2 font-weight-bold letra">¿Sabías que tenemos soluciones que se aplican a todas las industrias?</h5>
    <div class="d-flex industrias w-100 align-items-center justify-content-center soluciones">
        <button mat-raised-button class="box d-flex align-items-center justify-content-center">
            <h6 class="letra font-weight-bold">Recibo de sueldo</h6>
        </button>
        <button mat-raised-button class="box d-flex align-items-center justify-content-center">
            <h6 class="letra font-weight-bold">Cuentas a Pagar</h6>
        </button>
        <button mat-raised-button class="box d-flex align-items-center justify-content-center">
            <h6 class="letra font-weight-bold">Legajos Digitales</h6>
        </button>
        <button mat-raised-button class="box d-flex align-items-center justify-content-center">
            <h6 class="letra font-weight-bold">Gestión de Contratos</h6>
        </button>
        <button mat-raised-button class="box d-flex align-items-center justify-content-center">
            <h6 class="letra font-weight-bold">OnBoarding</h6>
        </button>
        <!-- <button mat-raised-button class="letra box d-flex align-items-center justify-content-center">
            <mat-icon>add_box</mat-icon>
        </button> -->
    </div>
</section>

<section class="py-4 d-flex flex-column align-items-center" style="background-color: #F3F3F3;">
    <div class="d-flex justify-content-flex-end">
        <div class="d-flex flex-column align-items-center">
            <!-- <img class="logo-plus" src="assets/logo-plus.png"> -->
            <h5 class="font-weight-light letra">Nuestro laboratorio se encuentra creando nuevas soluciones tú a medida</h5>
            <h5 class="font-weight-bold letra">¡Contanos tú proceso!</h5>
            <button mat-raised-button class="mt-3 rounded-pill boton text-white"
                >Contactanos</button>
        </div>
    </div>
</section>
