.logo-solucion {
    max-width: 3rem;
}

p {
    font-size: 15px;
}

.boton{
    transition: 0.3s;
}
  
.boton:hover {
    background-color: #24b54a;
    cursor: pointer;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    h3 {
        font-size: 15px;
        margin: 0px;
    } 
}