<div class="container py-2">
  <h4 class="font-weight-bold">¿Cómo personalizamos tu proceso?</h4>
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline4">
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">1</span>
                      <div class="inner-content">
                          <h3 class="title">Análisis y diseño</h3>
                          <p class="description">
                            Se efectuará un relevamiento detallado con los recursos necesarios para el desarrollo del proyecto y las interfaces y funciones básicas.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2</span>
                      <div class="inner-content">
                          <h3 class="title">Prototipo</h3>
                          <p class="description">
                            Se realiza una validación del diseño con el cliente y una modelización básica de la solución, respondiendo a los requerimientos básicos del usuario.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">3</span>
                      <div class="inner-content">
                          <h3 class="title">Versión final</h3>
                          <p class="description">
                            Se termina de estabilizar la solución, corrigiendo y probando cada uno de los bugs que pudieran haberse detectado como consecuencia de la validación del “prototipo en test”.                          
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">4</span>
                      <div class="inner-content">
                          <h3 class="title">Implementación</h3>
                          <p class="description mb-5">
                            Ponemos en producción la “versión final” obtenida y te potenciamos.                          
                          </p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
