
<div class="d-flex py-4 flex-column text-center align-items-center">
    <h4 class="font-weight-bold mt-4 mb-3 animated fadeInRight">{{ "PERSONALIZACION.TITULO" | translate }}</h4>
</div>

<div *ngIf="isMobile() == false" class="d-flex justify-content-center my-5">
    <img [src]="'PERSONALIZACION.SRC_IMG' | translate" class="proceso mb-5" alt="">
</div>

<div *ngIf="isMobile() == true" class="d-flex justify-content-center my-2">
    <img [src]="'PERSONALIZACION.SRC_IMG_MOBILE' | translate" class="proceso mb-5" alt="">
</div>

