<section class="d-flex align-items-center bg-home1 pt-5">
	<div class="d-flex flex-column">
		<h2 class="font-weight-bold text-dark subtitle animated pulse mb-2"
			[innerHTML]="'CAPACITACIONES.TITULO' | translate"></h2>
		<p *ngIf="!isMobile()" [innerHTML]="'CAPACITACIONES.DESCRIPCION_HEADER' | translate"></p>
		<button mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1"
			(click)="openDialog()">{{ "CAPACITACIONES.POTENCIAR_1" | translate }}</button>
	</div>
	<div *ngIf="isMobile() == true" style="box-sizing: solid white">
        <img class="ml-3 mt-3" src="assets/capacitacion-mobile.png" style="max-width: 95%; height: auto;">
    </div>
</section>

<div class="d-flex py-4 flex-column text-center align-items-center">
	<h6 class="text-personalizacion animated fadeInRight" [innerHTML]="'CAPACITACIONES.DESCRIPCION' | translate"></h6>
</div>

<section class="EncontraTuSolucion py-4">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<h4 class="py-4 font-weight-light">{{ "CAPACITACIONES.POTENCIAR" | translate }}</h4>
	</div>

	<div class="container-capacitacion py-3 letra d-flex justify-content-center">
		<div class="py-3 px-1 d-flex flex-column align-items-center process">
			<img class="home-small-logo" src="assets/home-elegi.png">
			<h5 class="font-weight-bold" style="margin-top: 15px;">{{ "CAPACITACIONES.POTENCIAR_1" | translate }}</h5>
			<p class="pt-1 text-center text-dark w-75" [innerHTML]="'CAPACITACIONES.POTENCIAR_1_DESC' | translate"></p>
		</div>
		<div class="py-3 px-1 d-flex flex-column align-items-center process">
			<img class="home-small-logo" src="assets/home-implementa.png">
			<h5 class="font-weight-bold" style="margin-top: 15px;">{{ "CAPACITACIONES.POTENCIAR_2" | translate }}</h5>
			<p class="pt-1 text-center text-dark w-75" [innerHTML]="'CAPACITACIONES.POTENCIAR_2_DESC' | translate"></p>
		</div>
		<div class="py-3 px-1 d-flex flex-column align-items-center process">
			<img class="home-small-logo" src="assets/home-transforma.png">
			<h5 class="font-weight-bold" style="margin-top: 15px;">{{ "CAPACITACIONES.POTENCIAR_3" | translate }}</h5>
			<p class="pt-1 text-center text-dark w-75" [innerHTML]="'CAPACITACIONES.POTENCIAR_3_DESC' | translate"></p>
		</div>
	</div>
</section>

<section class="EncontraTuSolucion">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<h4 class="py-4 font-weight-light text-center" [innerHTML]="'CAPACITACIONES.CAPACITACIONES' | translate"></h4>
	</div>
</section>

<!-- CARDS EN ESPAÑOL -->
<section class="pricing py-3" *ngIf="currentLanguage() == 'es'">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-dark font-weight-bold text-uppercase text-center">Producto</h5>
						<hr>
						<ul class="fa-ul">
							<li>
								<p>Instalaciones de producto.</p>
							</li>
							<li>
								<p>Configuraciones básicas y avanzadas.</p>
							</li>
							<li>
								<p>Creación de una solución de principio a fin.</p>
							</li>
						</ul>
						<a class="btn btn-block btn-success text-white text-uppercase" (click)="openDialog()">Más información</a>
						<a download="capacitacion-producto" target="_blank" href="assets/capacitacion-producto.pdf"
							class="btn btn-block btn-light">Descargar contenido</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-dark font-weight-bold text-uppercase text-center">Comercial</h5>
						<hr>
						<ul class="fa-ul">
							<li>
								<p>Conocer acerca del contexto de transformación digital.</p>
							</li>
							<li>
								<p>Demostraciones de soluciones.</p>
							</li>
							<li>
								<p>Beneficios y retornos de inversión.</p> <br>
							</li>
						</ul>
						<a class="btn btn-block btn-success text-white text-uppercase" (click)="openDialog()">Más información</a>
						<a download="capacitacion-comercial" target="_blank" href="assets/capacitacion-comercial.pdf"
							class="btn btn-block btn-light">Descargar contenido</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- CARDS EN INGLÉS -->
<section class="pricing py-3" *ngIf="currentLanguage() == 'en'">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-dark font-weight-bold text-uppercase text-center">Products</h5>
						<hr>
						<ul class="fa-ul">
							<li>
								<p>Product installations.</p>
							</li>
							<li>
								<p>Basic and advanced settings.</p>
							</li>
							<li>
								<p>Creating a complete software solution.</p>
							</li>
						</ul>
						<a class="btn btn-block btn-success text-white text-uppercase" (click)="openDialog()">More information</a>
						<a download="capacitacion-producto" target="_blank" href="/assets/capacitacion-producto.pdf"
							class="btn btn-block btn-light">Download content</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-dark font-weight-bold text-uppercase text-center">Commercial</h5>
						<hr>
						<ul class="fa-ul">
							<li>
								<p>Learn about digital transformation.</p>
							</li>
							<li>
								<p>Software solutions demonstrations.</p>
							</li>
							<li>
								<p>Benefits and returns on investment.</p> <br>
							</li>
						</ul>
						<a class="btn btn-block btn-success text-white text-uppercase" (click)="openDialog()">More information</a>
						<a download="capacitacion-comercial" target="_blank" href="/assets/capacitacion-comercial.pdf"
							class="btn btn-block btn-light">Download content</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>