/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

ul {
    margin: 0%;
    padding: 0%;
}

p {
    font-size: 15px;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    p {
        font-size: 12px;
    }

    h4 {
        font-size: 18px;
    }

    .boton {
        font-size: 12px;
    }
}