<mat-tab-group>
    <mat-tab label="Problemas"> 
        <div class="p-4">
            <p class="letra font-weight-light m-0">{{data.name}}</p>
            <h4 class="font-weight-bold mb-3">Problemas</h4> 
            <mat-list>
                <mat-list-item *ngFor="let problem of data.problems">
                    <p class="m-0"> - {{problem}}</p>
                </mat-list-item> 
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab label="Solución"> 
        <div class="p-4">
            <p class="letra font-weight-light m-0">{{data.name}}</p>
            <h4 class="font-weight-bold mb-3">¡Nuestra solución!</h4> 
            <mat-list>
                <mat-list-item *ngFor="let benefit of data.benefits">
                    <p class="m-0"> - {{benefit}}</p>
                </mat-list-item> 
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab label="Contactános"> 
        <div class="p-4 d-flex flex-column align-items-center mt-4">
            <p class="letra font-weight-light m-0">{{data.name}}</p>
            <h4 class="font-weight-bold mb-3 text-center">¿Querés implementar esta solución en tu empresa?</h4> 
            <button mat-raised-button class="mt-3 rounded-pill boton text-white w-50" (click)="openDialog()">Contactanos</button>
        </div>
    </mat-tab>
</mat-tab-group>
