<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/prod-captika.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">CAPTIKA SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">SOFTWARE DE CAPTURA</h5>
        <br>
        <h5 class="text-white font-weight-lighter">Plataforma de digitalización que permite a las personas y organizaciones gestionar la captura de los documentos digitales y físicos.</h5>
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra4">Captura</h4>
        <br>
        <h6>Capturamos la información en su formato original, obteniéndola desde distintos medios.</h6>
    </div>
    <div>
        <img src="assets/captura.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra4">Reconocimiento</h4>
        <br>
        <h6>Una vez que la información es digitalizada podemos reconocer datos y, gracias a nuestras diversas herramientas, podemos extraer el contenido de los documentos.</h6>
    </div>
    <div>
        <img src="assets/reconocimiento.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item3 animated fadeInUp">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra4">Validación</h4>
        <br>
        <h6>Podrás realizar también validaciones con bases de datos y webservices.</h6>
    </div>
    <div>
        <img src="assets/publicacion.png" class="img-captika3" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInRight" style="background-color: #7FAA30;">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold text-white" >Publicación</h4>
        <br>
        <h6 class="text-white">Con Captika vas a poder publicar a multiples repositorios de forma simultanea.</h6>
    </div>
    <div>
        <img src="assets/publicacion-captika.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex flex-column text-center justify-content-center align-items-center descripcionItem thuban animated fadeInLeft">
    <div class="d-flex flex-column descripcionthuban m-0">
        <h3 class="font-weight-bold">¿Sabías que podes publicar tu información en Thuban Software?</h3>
        <h6 class="m-0">Descubri cómo podes gestionar tus documentos.</h6>
        <br>
    </div>
    <div>
        <img src="assets/thuban-color.png" class="img-conoce-thuban" routerLink='/thuban' alt="">
    </div>
</div>

