<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/prod-captika.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">CAPTIKA SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">{{ "PRODUCTOS.CAPTIKA" | translate }}</h5>
        <br>
        <h5 class="text-white font-weight-lighter">{{ "CAPTIKA.DESCRIPCION_HEADER" | translate }}</h5>
        <div class="d-flex mt-2">
            <a mat-raised-button class="rounded-pill px-3 py-1 boton text-white" target="_blank"
                href="http://www.wiki-en.captika.com/index.php?title=Main_Page">Captika Wiki</a>
        </div>
    </div>
</div>

<div *ngIf="isMobile() == false" class="d-flex justify-content-center mt-5">
    <img [src]="'CAPTIKA.SRC_IMG' | translate" class="proceso-captika" alt="">
</div>

<div *ngIf="isMobile() == true" class="d-flex justify-content-center mt-5">
    <img [src]="'CAPTIKA.SRC_IMG_MOBILE' | translate" class="proceso-captika" alt="">
</div>

<div class="d-flex justify-content-end fixed-bottom mb-5 mr-5">
    <a mat-raised-button class="rounded-pill boton text-white px-3 py-1" target="_blank"
        href="https://vivatia2020.myshopify.com/collections/frontpage/products/captika-software-professional">{{ "CAPTIKA.COMPRAR" | translate }}</a>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra4">{{ "CAPTIKA.CAPTURA" | translate }}</h4>
        <br>
        <h6>{{ "CAPTIKA.CAPTURA_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/captura.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra4">{{ "CAPTIKA.RECONOCIMIENTO" | translate }}</h4>
        <br>
        <h6>{{ "CAPTIKA.RECONOCIMIENTO_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/reconocimiento.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item3 animated fadeInUp">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra4">{{ "CAPTIKA.VALIDACION" | translate }}</h4>
        <br>
        <h6>{{ "CAPTIKA.VALIDACION_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/publicacion.png" class="img-captika3" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInRight"
    style="background-color: #7FAA30;">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold text-white">{{ "CAPTIKA.PUBLICACION" | translate }}</h4>
        <br>
        <h6 class="text-white">{{ "CAPTIKA.PUBLICACION_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/publicacion-captika.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex py-4 flex-column text-center align-items-center">
    <h5 class="font-weight-bold mt-5 mb-2 animated fadeInRight">{{ "CAPTIKA.CARACTERISTICAS" | translate }}</h5>
</div>
<div class="container d-flex caracteristicas mb-5">
    <div class="card text-center" style="width: 20rem; height: 20rem;">
        <div class="card-body">
            <img class="" src="assets/ck-specs1.png" alt="" style="width: 180px; height: 180px;">
            <h5 class="card-title font-weight-bold">{{ "CAPTIKA.SPEC1" | translate }}</h5>
            <p class="card-text">{{ "CAPTIKA.SPEC1_DESC" | translate }}</p> 
        </div>
    </div>
    <div class="card text-center" style="width: 20rem; height: 20rem;">
        <div class="card-body">
            <img class="" src="assets/ck-specs2.png" alt="" style="width: 180px; height: 180px;">
            <h5 class="card-title font-weight-bold">{{ "CAPTIKA.SPEC2" | translate }}</h5>
            <p class="card-text">{{ "CAPTIKA.SPEC2_DESC" | translate }}</p> 
        </div>
    </div>
    <div class="card text-center" style="width: 20rem; height: 20rem;">
        <div class="card-body">
            <img class="" src="assets/ck-specs3.png" alt="" style="width: 180px; height: 180px;">
            <h5 class="card-title font-weight-bold">{{ "CAPTIKA.SPEC3" | translate }}</h5>
            <p class="card-text">{{ "CAPTIKA.SPEC3_DESC" | translate }}</p> 
        </div>
    </div>
</div>

<div
    class="d-flex flex-column text-center justify-content-center align-items-center descripcionItem thuban animated fadeInLeft">
    <div class="d-flex flex-column descripcionthuban m-0">
        <h3 class="font-weight-bold">{{ "CAPTIKA.SABIAS" | translate }}</h3>
        <h6 class="m-0">{{ "CAPTIKA.DESCUBRI" | translate }}</h6>
        <br>
    </div>
    <div>
        <img src="assets/thuban-color.png" class="img-conoce-thuban" routerLink='/thuban' alt="">
    </div>
</div>