.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    //agregar shadow aca si quiero que el navbar tenga shadpow
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.spacer {
    flex: 1 1 auto;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    // color: #fff;
    // background: rgba(41, 38, 38, 0.143);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

// li a {
//     color: #fff;
// }

li:hover {
    background:rgba(44, 119, 63, 0.143);
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    // min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    // background: #F3F3F3;
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.collapse {
    margin-left: 43%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(44, 119, 63)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//////////////////////////////////////////////////////// estilos dropdown

@media only screen and (min-width: 100px) and (max-width: 426px) {
    .collapse {
        margin-left: 0%;
    }
}