<nav class="navbar navbar-expand-md navbar-dark fixed-top py-1" style="background-color: white">
    <img routerLink="/home" src="assets/vivatia-logo-navbar.png" class="logo-navbar mx-4" style="cursor: pointer;">
    <button class="navbar-toggler hidden-sm-up custom-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLink="/home">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/home">{{ "NAVBAR.HOME" | translate }}</a>
            </li>
            <li class="nav-item" routerLink="/nosotros">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/nosotros">{{ "NAVBAR.NOSOTROS" | translate }}</a>
            </li>
            <li class="nav-item" routerLink="/soluciones">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/soluciones">{{ "NAVBAR.SOLUCIONES" | translate }}</a>
            </li>
            <li class="nav-item" routerLink="/productos">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/productos">{{ "NAVBAR.PRODUCTOS" | translate }}</a>
            </li>
            <li class="nav-item" routerLink="/partners">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/partners">{{ "NAVBAR.PARTNERS" | translate }}</a>
            </li>
            <li class="nav-item" href="https://vivatia2020.myshopify.com/">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" href="https://vivatia2020.myshopify.com/" target="_blank">{{ "NAVBAR.TIENDA" | translate }}</a>
            </li>
            <li class="nav-item" routerLink="/capacitacion">
                <a class="nav-link active letra font-weight-bold" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/capacitacion">{{ "NAVBAR.CAPACITACIONES" | translate }}</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle letra font-weight-bold" id="id01" ngbDropdownToggle>{{ "NAVBAR.IDIOMA" | translate }}</a>
                <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                    <a class="dropdown-item text-dark" (click)="isNavbarCollapsed = !isNavbarCollapsed" (click)="useLanguage('es')">{{ "NAVBAR.ESPAÑOL" | translate }}</a>
                    <a class="dropdown-item text-dark" (click)="isNavbarCollapsed = !isNavbarCollapsed" (click)="useLanguage('en')">{{ "NAVBAR.INGLES" | translate }}</a>
                    <!-- <a class="dropdown-item text-dark" (click)="isNavbarCollapsed = !isNavbarCollapsed">{{ "NAVBAR.PORTUGUES" | translate }}</a> -->
                </div>
            </li>
        </ul>
    </div>
</nav>

<ng-content></ng-content>
