<div class="d-flex header align-items-center pt-5">
    <div class="text-header">
        <h1 class="animated fadeInRight">Banca</h1>
        <h5 class="text-white">Diseñamos múltiples procesos financieros con soluciones altamente eficientes, seguras y confiables. Éstas son algunas de las soluciones que confían las industrias financieras líderes para satisfacer con éxito sus necesidades empresariales.</h5>
    </div>
    
</div>

<section class="d-flex flex-column align-items-center justify-content-center py-3 solucionescore" style="background-color: #2C773F;">
    <h2 class="py-3 font-weight-bold text-white">Soluciones Core</h2>
    <div class="d-flex industrias w-100 align-items-center justify-content-center soluciones">
        <button *ngFor="let data of dataCardsBanca, let i = index" mat-raised-button class="box2 d-flex align-items-center justify-content-center animated fadeInRight" style="animation-delay: 0.3s" (click)="openSolutionsModal(i)">
            <h6 class="text-white font-weight-light m-0">{{data.name}}</h6>
        </button>
    </div>
</section>

<app-soluciones-horizontales></app-soluciones-horizontales>