<section class="d-flex align-items-center justify-content-center contenedor py-5" style="background-color: #F3F3F3;">
    <div class="d-flex texto align-items-center animated fadeInUp" style="animation-delay: 0.4s;">
        <h5 class="font-weight-bold mb-4">{{ "CROSS.SOLUCIONES" | translate }}</h5>
    </div>
    <!-- w-50 + flex wrap para agrupar de a 3 -->
    <!-- CARDS EN ESPAÑOL -->
    <div *ngIf="currentLanguage() == 'es'"
        class="d-flex industrias flex-wrap align-items-center justify-content-center soluciones pb-2 animated fadeInDown"
        style="animation-delay: 0.2s;">
        <button *ngFor="let data of dataCardsEs, let i = index" mat-raised-button
            class="box d-flex align-items-center justify-content-center" [routerLink]="data.path">
            <img [src]="data.image" alt="contratos" class="logo-industria">
            <h6 class="letra5 font-weight-bold mt-3">{{data.name}}</h6>
        </button>
    </div>

    <!-- CARDS EN INGLÉS -->
    <div *ngIf="currentLanguage() == 'en'"
        class="d-flex industrias flex-wrap align-items-center justify-content-center soluciones pb-2 animated fadeInDown"
        style="animation-delay: 0.2s;">
        <button *ngFor="let data of dataCardsEn, let i = index" mat-raised-button
            class="box d-flex align-items-center justify-content-center" [routerLink]="data.path">
            <img [src]="data.image" alt="contratos" class="logo-industria">
            <h6 class="letra5 font-weight-bold mt-3">{{data.name}}</h6>
        </button>
    </div>
</section>

