<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-3">Salud</h1>
        <h5 class="w-75 text-white">Entre los principales problemas que actualmente presenta la atención sanitaria, uno de los servicios esenciales, se incluyen diversos temas asociados con la precariedad institucional de la salud pública. Para poder mejorar la prestación de servicios es preciso dotarse de estructuras modernas orientadas no sólo al ejercicio sanitario propiamente dicho, sino a su administración y gestión.</h5>
    </div>
</div>

<app-personalizacion></app-personalizacion>

<section class="bg-main2 text-white contenedor-soluciones d-flex flex-column justify-content-center align-items-center py-5" style="background-color: #2c773f;">
    <h2 class="mb-5 animated fadeInDown text-center">Creamos soluciones para tu industria</h2>
    <div class="d-flex mt-4 justify-content-center flex-wrap align-items-start text-center w-100 animated fadeInDown soluciones">
        <div *ngFor="let data of dataCardsSalud, let i = index" class="mx-1 d-flex flex-column justify-content-center align-items-center solucion">
            <img class="mb-2 logo-solucion" [src]=data.icon>
            <h5 class="mb-4" [innerHTML]=data.name></h5>
        </div>
    </div>
</section>

<section class="bg-main3 benefitsDesktop flex-column justify-content-center align-items-center py-5" style="background-color: white">
    <h2 class="mb-5 font-weight-bold animated fadeInDown">Beneficios</h2>
    <div class="d-flex mt-4 justify-content-center align-items-start text-center w-75 animated fadeInDown">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-salud1.png">
            <h5 class="mb-1">Servicio más ordenado<br>y eficiente</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-salud2.png">
            <h5 class="mb-1">Historial<br>personalizado</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-salud4.png">
            <h5 class="mb-1">Regitros disponibles<br>en todo momento</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-cap2.png">
            <h5 class="mb-1">Optimización<br>de procesos</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-salud3.png">
            <h5 class="mb-1">Rápido retorno<br>de inversión</h5>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: white">
        <h2 class="my-4 font-weight-bold">Beneficios</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-salud1.png">
                    <h5 class="mb-4">Servicio más ordenado<br>y eficiente</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-salud2.png">
                    <h5 class="mb-4">Historial<br>personalizado</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-salud4.png">
                    <h5 class="mb-4">Regitros disponibles<br>en todo momento</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-cap2.png">
                    <h5 class="mb-4">Optimización<br>de procesos</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-salud3.png">
                    <h5 class="mb-4">Rápido retorno<br>de inversión</h5>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<app-sumate></app-sumate>
