.productos {
    height: 95%;
    cursor: pointer;
}

.thuban {
    background-color: #DBDBDB;
}

.captika {
    background-color: #DBDBDB;
}

.thuban:hover {
    background-color: #00326B;
}

.captika:hover {
    background-color: #7FAA30;
}