<section class="d-flex flex-row productos">
    <div class="d-flex align-items-center justify-content-center captika w-50">
        <div class="d-flex flex-column text-center">
            <img src="assets/captika-color.png" class="logo-captika" style="width: 380px; height: 380px;" alt="">
            <h2 class="text-white font-weight-bold">CAPTIKA SOFTWARE</h2>
            <h5 class="text-white">SOFTWARE DE CAPTURA</h5>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center thuban w-50">
        <div class="d-flex flex-column text-center">
            <img src="assets/thuban-color.png" class="logo-thuban" style="width: 380px; height: 380px;" alt="">
            <h2 class="text-white font-weight-bold">THUBAN SOFTWARE</h2>
            <h5 class="text-white">GESTOR DOCUMENTAL</h5>
        </div>
    </div>
</section>