.productos {
    height: 100%;
    cursor: pointer;
    flex-direction: row;
}

img {
    max-width: 350px;
    height: auto;
}

.thuban {
    background-color: #DBDBDB;
    width: 50%;
}

.captika {
    background-color: #DBDBDB;
    width: 50%;
}

.thuban:hover {
    background-color: #00326B;
}

.captika:hover {
    background-color: #7FAA30;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .productos {
        height: 100%;
        cursor: pointer;
        flex-direction: row;
    }

    .thuban {
        background-color: #00326B;
        width: 50%;
    }
    
    .captika {
        background-color: #7FAA30;
        width: 50%;
    }

    img {
        max-width: 180px;
        height: auto;
    }

    h2 {
        font-size: 20px;
    }

    h5 {
        font-size: 15px;
    }
}

// iPhone 6
@media only screen and (max-height: 700px) {
    .productos {
        height: 100%;
    }
  }