<section class="d-flex align-items-center bg-home1 pt-5">
    <div class="d-flex flex-column">
        <h2 class="font-weight-bold text-dark subtitle animated pulse mb-2">Global Partner Program</h2> 
        <p>Sumáte a la experiencia Vivatia y observá <br> cómo tus ventas crecen</p>       
        <button mat-raised-button class="mt-2 rounded-pill boton text-white">Sumate como partner</button>
    </div>
</section>

<div class="d-flex py-4 flex-column text-center align-items-center">
    <h6 class="text-personalizacion animated fadeInRight">El <span class="font-weight-bold">Programa de Socios Globales de Vivatia</span> fue pensado con el objetivo de brindar a las empresas interesadas la experiencia y los conocimientos necesarios para que puedan incrementar sus ventas a partir de la comercialización e implementación de los productos y soluciones de software de Vivatia.</h6>
</div>

