.boton {
    background-color: #29c351;
}

.letra {
    color: #2c773f !important;
}

.letra2 {
    color: #24b54a !important;
}

.letra3 {
    color: #808080;
}

.home-logo {
    max-width: 20rem;
}

.home-small-logo {
    max-width: 4rem;
}

.home-small-logo2 {
    max-width: 8rem;
}

.footer {
    background-color: #f0f0f0;
}

.footer1 {
    background-color: #e6e6e6;
}

ul {
    list-style-type: none;
}

.bg-main1 {
    background-image: url('../../../assets/bg-main3.png');
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
}

.bg-main2 {
    background-image: url('../../../assets/bg-main4.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.bg-main3 {
    background-image: url('../../../assets/bg-main5.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.box {
    transition: box-shadow 0.3s;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    white-space: normal !important;
    background: #fff;
    margin: 2rem;
}

.box:hover {
    box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.grid {
    float: left;
}

button:focus {
    outline: 0;
}

.logo-plus {
    max-width: 10rem;
}

///////////////////////////////// RESPONSIVE

@media only screen and (min-width: 100px) and (max-width: 900px) {
    .bg-main1 {
        height: 30%;
        padding-top: 50px;
    }

    .bg-main1 h3{
        font-size: 17px;
        text-align: center;
    }

    h2 {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
        text-align: center;
    }
}