.bg-home1 {
    margin-top: 5%;
    background-image: url("../../../assets/gpp.png");
    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
    justify-content: start;
}

.bg-home1 div {
    padding-left: 10%;
    align-items: flex-start;
}

.bg-home1 h2 {
    font-size: 48px;
    font-family: "Montserrat", Helvetica;
    font-weight: 900;
}

.bg-home1 p {
    font-size: 25px;
}

//

.text-personalizacion {
    width: 50%;
    line-height: 2.4;
}

// PODES SUMARTE COMO

.logo-solucion {
    max-width: 3rem;
}

.bg-main2 {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.soluciones {
    flex-direction: row;
}

.solucion {
    width: 20%;
}

.solucion p {
    font-size: 13px;
}

// OEM

.item2 {
    background-color: #f3f3f3;
    height: 40%;
}

.img-captika2 {
    max-width: 400px;
    height: auto;
    margin-right: 50px;
}

.descripcion2 h6 {
    font-size: 20px;
    line-height: 1.8;
}

.descripcion2 {
    width: 30%;
    font-family: "Montserrat";
    order: 1;
}

// POTENCIA TU NEGOCIO

.container-potencia {
    align-items: flex-start;
}

p {
    font-size: 15px;
}

.EncontraTuSolucion h5 {
    font-size: 20px;
}

.EncontraTuSolucion {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.process {
    width: 22%;
}

.process img {
    max-width: 22%;
    height: auto;
}

// SUMATE

.boton {
    transition: 0.3s;
}

.boton:hover {
    background-color: #24b54a;
    cursor: pointer;
}

@media only screen and (min-width: 100px) and (max-width: 812px) {
    .title-main {
        max-width: 50%;
        height: auto;
    }

    .bg-home1 {
        background-image: url("../../../assets/mobile-partners.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
        justify-content: center;
    }

    .bg-home1 div {
        padding-left: 0%;
        align-items: center;
    }

    .bg-home1 h2 {
        font-size: 40px;
        text-align: center;
        color: white !important;
    }

    .bg-home1 p {
        font-size: 20px;
        text-align: center;
        width: 80%;
        color: white !important;
    }

    //

    .text-personalizacion {
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
    }

    h6 {
        font-size: 14px;
        text-align: center;
    }

    // PODES SUMARTE COMO

    .soluciones {
        flex-direction: row;
    }

    .solucion {
        width: 90%;
        margin-bottom: 3%;
    }

    p {
        font-size: 13px;
        display: block;
    }

    // OEM

    .descripcionItem {
        flex-direction: column;
        padding: 10px;
    }

    .descripcion2 {
        width: 100%;
        align-items: center;
        text-align: justify;
        order: 0;
    }

    .descripcion2 h6 {
        font-size: 15px;
        line-height: 1.6;
    }

    .item2 {
        background-color: #f3f3f3;
        height: 30%;
    }

    .img-captika2 {
        max-width: 280px;
        height: auto;
        margin: 0%;
    }

    // POTENCIA TU NEGOCIO

    .container-potencia {
        align-items: center;
    }

    .EncontraTuSolucion h4 {
        font-size: 25px;
        text-align: center;
        margin: 0px 10px;
    }

    .EncontraTuSolucion img {
        width: 40px;
        height: 40px;
    }

    .EncontraTuSolucion .letra {
        flex-direction: column;
    }

    .process {
        width: 90%;
        padding: 0%;
    }

    .EncontraTuSolucion .letra img {
        width: 40%;
        height: 40%;
    }

    .EncontraTuSolucion .letra h5 {
        font-size: 20px;
    }

    // SUMATE

    .sumate h4 {
        font-size: 18px;
        text-align: center;
        margin: 0px 10px;
    }
}

@media only screen and (max-height: 650px) {
    .bg-home1 {
        height: 55%;
    }
}
