<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/thuban-color.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">THUBAN SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">GESTOR DOCUMENTAL</h5>
        <br>
        <h5 class="text-white font-weight-lighter">Plataforma diseñada para la creación de soluciones donde los documentos y procesos son la clave del negocio.</h5>
    </div>
</div>

<div class="text-center d-flex align-items-center justify-content-center border-success stats animated fadeInUp letraThuban">
    <div class="stat">
        <h2 class="font-weight-bold">+80</h2>
        <h5 class="font-weight-light">Soluciones</h5>
    </div>
    <div class="stat">
        <h2 class="font-weight-bold">+1.200.000</h2>
        <h5 class="font-weight-light">Imágenes en línea</h5>
    </div>
    <div class="stat">
        <h2 class="font-weight-bold">+25.000</h2>
        <h5 class="font-weight-light">Usuarios</h5>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold">/ Creamos soluciones para cada industria</h4>
        <br>
        <h6>Thuban Software puede adaptarse a todo tipo de empresa e industria creando soluciones para las necesidades de cada una de ellas.</h6>
        <br>
        <h5 class="letraThuban font-weight-bold" style="cursor: pointer;" routerLink="/soluciones">Soluciones aplicadas a múltiples procesos</h5>
    </div>
    <div>
        <img src="assets/captika1.png" class="img-thuban1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold">/ ¿Cómo puede beneficiar tus procesos?</h4>
        <br>
        <h6>Te proporcionamos la seguridad necesaria para el manejo de tu información. Podemos configurar flujos de trabajo con niveles de aprobación para diferentes procesos, donde los usuarios, tendrán distintos permisos de acceso para trabajar.</h6>
        <br>
        <h5 class="letraThuban font-weight-bold">También podrás realizar validaciones con bases de datos y webservices.</h5>
    </div>
    <div>
        <img src="assets/img-thuban2.png" class="img-thuban2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item3 animated fadeInUp">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold">/ Optimizamos tu gestión digital</h4>
        <br>
        <h6>De manera inteligente tus procesos, reduciendo costos, controlando y generando legajos digitales.</h6>
        <br>
        <h5 class="letraThuban font-weight-bold">Firma digital <br> Acceso mobile <br> Worfkflow y métricas </h5>
    </div>
    <div>
        <img src="assets/publicacion.png" class="img-thuban3" alt="">
    </div>
</div>

