<section class="bg-main1 d-flex align-items-center justify-content-start">
    <div class="mx-5 pl-5">
        <div class="mx-5">
            <img class="logo-thuban" src="assets/logo-thubanSoftware.png">
            <h5 class="my-4 font-weight-bold blue">Gestor documental</h5>
            <p>Thuban Software es una plataforma diseñada para la<br>creación de soluciones donde los documentos
                y<br>procesos son la clave del negocio.</p>
            <button mat-raised-button class="mt-5 rounded-pill boton-blue text-white">Contactanos</button>
        </div>
    </div>
</section>

<section class="bg-main2 d-flex flex-column align-items-center justify-content-center text-white text-center">
    <h5>Plataforma diseñada para trabajar en entornos<br>donde los documentos y el proceso son la clave del negocio.
    </h5>
</section>

<section class="bg-main3 d-flex flex-column align-items-center justify-content-center">

    <div class="d-flex flex-column justify-content-center mx-5">

        <div class="d-flex flex-column align-items-start justify-content-start ml-5">
            <h3 class="blue font-weight-bold">¿Cómo Thuban puede<br>Sumar a tus procesos?</h3>
            <hr class="rulerBlue">
        </div>

        <div class="grid2x2">
            <div class="box box1">
                <div class="my-3 d-flex justify-content-end">
                    <img class="home-small-logo2" src="assets/logo-capture.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="blue font-weight-bold">Captura</h5>
                        <p>Permite la importación desde filesystem,<br><span class="blue font-weight-bold">Captika
                                Software</span>, emails y Thuban mobile.</p>
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div class="my-3 d-flex justify-content-start">
                    <img class="home-small-logo2" src="assets/logo-management.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="blue font-weight-bold">Gestión digital</h5>
                        <p class="mr-5 pr-3">Permite diagramar distintos flujos<br>de trabajo para la documentación.</p>
                    </div>
                </div>
            </div>
            <div class="box box3">
                <div class="my-3 d-flex justify-content-end">
                    <img class="home-small-logo2" src="assets/logo-storage.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="blue font-weight-bold">Almacenamiento Digital</h5>
                        <p>Proporciona la seguridad necesaria para<br>el buen manejo de la información.</p>
                    </div>
                </div>
            </div>
            <div class="box box4">
                <div class="my-3 d-flex justify-content-start">
                    <img class="home-small-logo2" src="assets/logo-indicators.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="blue font-weight-bold">Indicadores de gestión</h5>
                        <p>Ofrece la posibilidad de crear monitores,<br>obtener reportes y estadísticas..</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-main2 d-flex align-items-center justify-content-around text-white text-center">
    <div>
        <img class="home-small-logo mb-3" src="assets/logoTime.png">
        <p>Firma digital<br>con valor legal</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoRoi.png">
        <p>Workflow<br>y métricas</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoSaving.png">
        <p>Multiplataforma<br>y escalable</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoSecurity.png">
        <p>Gestión<br>segura</p>
    </div>
</section>

<section class="videoThuban content d-flex flex-column align-items-center justify-content-center">
    <video controls wmuted loop oncanplay="this.muted=true" id="myVideo">
        <source src="assets/ThubanOverview.mp4" type="video/mp4" class="thubanView">
        Your browser does not support HTML5 video.
    </video>
</section>

<!-- <iframe src="https://www.youtube.com/watch?v=GzuPg_Sbuyg" autoplay class="thubanView"></iframe> -->
<!-- /assets/programmer.mp4 -->