<section class="d-flex justify-content-end">
    <button mat-button mat mat-dialog-close><i class="material-icons letra2">close</i></button>
</section>

<mat-dialog-content class="p-2">
    <div class="d-flex flex-column align-items-center">
        <img src="assets/coronavirus.png">
        <h1 class="m-0 font-weight-bold mt-2 green">#YoMeQuedoEnCasa</h1>
        <p class="w-75 text-center">En Vivatia ya funcionamos remoto, <br> tu negocio también puede hacerlo.</p>
        <p class="w-75 text-center font-weight-bold mt-4">Te ayudamos a encontrar una solución para tu empresa</p>
        <h5 class="text-center font-weight-bold mt-2">Sumate a la <br> <span class="green">#ExperienciaVivatia</span></h5>
        <button mat-raised-button mat-dialog-close class="mt-2 rounded-pill boton text-white px-3 py-1" routerLink="/soluciones">Quiero sumarme</button>
    </div>
</mat-dialog-content>