p {
    font-size: 15px;
    margin: 0px;
}

img {
    max-width: 32%;
    height: auto;
}

.green {
    color: #24B54A;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    h1 {
        font-size: 22px;
        text-align: center;
    }

    h5 {
        font-size: 17px;
        text-align: center;  
    }

    p {
        // display: none;
        font-size: 16px;
        text-align: center;
        width: 100% !important;
        margin: 10px 0px 10px 0px;
    }
}

@media only screen and (max-height: 650px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }

    img {
        max-width: 28%;
        height: auto;
    }

}