<section class="d-flex justify-content-end">
    <!-- <button mat-button><i class="material-icons letra2">help_outline</i></button> -->
    <button mat-button mat mat-dialog-close><i class="material-icons letra2">close</i></button>
</section>

<mat-dialog-content>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active bg-light mb-5">
                <img src="assets/coronavirus.png" class="image-mobile">
                <h1 class="m-0 letra font-weight-bold">#YoMeQuedoEnCasa</h1>
                <div class="d-flex align-items-center descripcion">
                    <p class="w-75">Hoy más que nunca, nos sentimos convocados a responder con responsabilidad ante los
                        acontecimientos mundiales. En Vivatia nos adaptamos 100% remoto sin descuidar nuestros
                        estándares de calidad, compromiso y trabajo en equipo. creemos que ser responsables es la única
                        manera de cuidarnos entre todos.
                    </p>
                    <img src="assets/coronavirus.png" class="image-desktop">
                </div>
                <h5 class="letra font-weight-bold">Ayudemos a frenar la propagación del virus</h5>
                <button mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1">Contact us</button>
            </div>
            <!-- <div class="carousel-item bg-light mb-5">
                <h1 class="m-0 letra font-weight-bold">#YoMeQuedoEnCasa</h1>
                <div class="d-flex align-items-center">
                    <p class="w-75">Hoy más que nunca, nos sentimos convocados a responder con responsabilidad ante los
                        acontecimientos mundiales. En Vivatia nos adaptamos 100% remoto sin descuidar nuestros
                        estándares de calidad, compromiso y trabajo en equipo. creemos que ser responsables es la única
                        manera de cuidarnos entre todos. Ayudemos a frenar la propagación del virus.
                    </p>
                    <img src="assets/coronavirus.png" alt="" style="max-width: 35%; height: auto;">
                </div>
                <h5 class="letra font-weight-bold">Ayudemos a frenar la propagación del virus</h5>
                <button mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1">Contact us</button>
            </div> -->
        </div>
    </div>
</mat-dialog-content>