<a class="text-white fontNavBar px-4" routerLink="/nosotros">Nosotros</a>
<a class="text-white fontNavBar px-4" routerLink="/soluciones">Soluciones</a>

<div class="dropdown">
    <a class="text-white fontNavBar px-4 py-5">Productos</a>
    <div class="dropdown-content transparent">
        <a class="text-white fontNavBar" routerLink="/Thuban">Thuban</a>
        <a class="text-white fontNavBar" routerLink="/Captika">Captika</a>
    </div>
</div>

<a class="text-white fontNavBar px-4" routerLink="/partners">Partners</a>

<div class="dropdown">
    <a class="text-white fontNavBar px-4 py-5">Idiomas</a>
    <div class="dropdown-content transparent">
        <a class="text-white fontNavBar">Ingles</a>
        <a class="text-white fontNavBar">Español</a>
        <a class="text-white fontNavBar">Portugués</a>
    </div>
</div>



