/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-green, 800);
$candy-app-accent: mat-palette($mat-indigo);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf');
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: small;
  width: 100%;
  //////////////////////////////////////////////////////
  .boton {
    background-color: #2c773f;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #24b54a;
    cursor: pointer;
  }

  .boton2 {
    background-color: #98bf2f;
    cursor: pointer;
  }

  .boton-blue {
    background-color: #145fa3;
    cursor: pointer;
  }

  .letra {
    color: #2c773f !important;
  }
  .letra2 {
    color: #24b54a !important;
  }
  .letra3 {
    color: #808080;
  }
  .letra4 {
    color: #98bf2f;
  }
  .letra5 {
    color: #194324;
  }
  .letra6 {
    color: #00326b;
  }
  .letraThuban {
    color: #145fa3;
  }
  .blue {
    color: #145fa3;
  }

  .home-logo {
    max-width: 20rem;
  }
  .home-small-logo {
    max-width: 4rem;
  }
  .home-small-logo2 {
    max-width: 6rem;
  }
  .home-small-logo3 {
    max-height: 1.3rem;
  }

  .footer {
    background-color: #f0f0f0;
  }
  .footer1 {
    background-color: #e6e6e6;
  }
  ul {
    list-style-type: none;
  }
  .text-dark {
    color: black;
  }
}

button:focus {
  outline: 0;
}
textarea {
  resize: none;
  outline: none;
  width: 90%;
  max-width: 90%;
}


