<section class="d-flex align-items-center bg-home1 pt-5">
    <div class="d-flex flex-column align-items-start w-75" *ngIf="currentLanguage() == 'es'">
        <h2 class="subtitle animated pulse m-0">Viví tu <br> experiencia</h2>
        <ngx-typed-js [typeSpeed]="50" [backSpeed]="70" [loop]="true" [strings]="fontTextEs" (preStringTyped)="doSmth($event)">
            <h2 [ngClass]="{'font-especial': fontTextEs[positionArrayText] == 'vivatia.'}" class="typing"></h2>
        </ngx-typed-js>
        <button mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1" (click)="openDialog()">Contactanos</button>
    </div>
    <div class="d-flex flex-column align-items-start w-75" *ngIf="currentLanguage() == 'en'">
        <h2 class="subtitle animated pulse m-0">Live your <br></h2>
        <ngx-typed-js [typeSpeed]="50" [backSpeed]="70" [loop]="true" [strings]="fontTextEn" (preStringTyped)="doSmth($event)">
            <h2 [ngClass]="{'font-especial': fontTextEn[positionArrayText] == 'vivatia'}" class="typing"></h2>
        </ngx-typed-js>
        <h2 class="subtitle animated pulse m-0">experience.</h2>
        <button mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1" (click)="openDialog()">Contact us</button>
    </div>
</section>

<!-- CLIENTES WEB -->
<section class="clientsDesktop">
    <div class="py-5 d-flex align-items-center align-content-center justify-content-center clients h-100"
        style="background-color: #F3F3F3">
        <img class="mr-5 animated zoomIn" src="assets/bbva.png">
        <img class="mr-5 animated zoomIn" src="assets/xerox.png">
        <img class="mr-5 animated zoomIn" src="assets/Galeno.png">
        <img class="mr-5 animated zoomIn" src="assets/Clover.png">
        <img class="mr-5 animated zoomIn" src="assets/Groupm.png">
    </div>
</section>

<!-- CLIENTES MOBILE -->
<section>
    <div class="clientsMobile pb-1 align-items-center justify-content-center" style="background-color: #F3F3F3">
        <!-- style="background-color: rgba(34, 38, 42, 0.9)" -->
        <ngb-carousel [showNavigationArrows]='false' [showNavigationIndicators]='false' [interval]='3000'>
            <ng-template ngbSlide>
                <img src="assets/bbva2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/Galicia2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/havas2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/prisma2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/Santander2.png" alt="Random first slide">
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="text-center d-flex align-items-center justify-content-center border-success stats">
    <div class="stat animated fadeInDown" style="animation-delay: 0.7s">
        <h2 class="letra font-weight-bold">+20</h2>
        <h5 class="text-dark font-weight-light">{{ "HOME.DATOS1" | translate }}</h5>
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 0.9s">
        <h2 class="letra font-weight-bold">100%</h2>
        <h5 class="text-dark font-weight-light">{{ "HOME.DATOS2" | translate }}</h5>
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 1.1s">
        <h2 class="letra font-weight-bold">+2.000</h2>
        <h5 class="text-dark font-weight-light">{{ "HOME.DATOS3" | translate }}</h5>
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 1.3s">
        <h2 class="letra font-weight-bold">+30.000</h2>
        <h5 class="text-dark font-weight-light">{{ "HOME.DATOS4" | translate }}</h5>
    </div>
</section>

<section class="EncontraTuSolucion py-4" style="background-color: #F3F3F3">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h4 class="py-4 font-weight-light m-0" [innerHTML]="'HOME.SOLUCION_IDEAL' | translate"></h4>
    </div>

    <div class="py-3 letra d-flex justify-content-center align-items-center">
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-elegi.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_1" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_1_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-implementa.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_2" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_2_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-transforma.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_3" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_3_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-escala.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_4" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_4_DESC' | translate"></p>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center pt-2 pb-5">
        <button mat-raised-button class="rounded-pill boton text-white align-self-center py-1 px-3"
            style="font-size: medium;" routerLink="/soluciones">{{ "HOME.BUSQUEDA" | translate }}</button>
    </div>
</section>

<!-- <section class="bg-home3 text-center d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <img src="assets/pvc.png" href="https://www.linkedin.com/in/pablovazquez1/" class="img-pvc mb-3 mt-2" alt="">
        <h5 class="text-dark font-weight-bold mb-1">Pablo Vázquez Conde</h5>
        <h5 class="text-dark mb-3">Director</h5>
        <h5 class="text-dark font-weight-bold font-italic pvc" style="width: 55%;">"Te ayudamos a emprender un camino de transformación, usando nuestra experiencia, tecnología e innovación."</h5>
    </div>
</section> -->