<section class=" pt-5 d-flex flex-column align-items-center justify-content-center bg-home1 mkITwk">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/title-main.png" class="title-main">
        <h2 class="font-weight-light text-white my-3 subtitle">Viví tu experiencia digital</h2>
        <!-- <p class="text-white">Vivimos en un contexto en el cual los papeles dejen de ser protagonistas en tus procesos. Te ayudamos a<br>emprender el camino de la transformación digital de manera innovadora aplicando nuevas tecnologías.</p> -->
        <button mat-raised-button class="mt-2 rounded-pill boton text-white" (click)="openDialog()">Contactanos</button>
    </div>
</section>

<section class="clientsDesktop">
    <div class="py-5 d-flex align-items-center justify-content-center clients" style="background-color: rgba(34, 38, 42, 0.9);">
        <img class="mr-5" src="assets/bbva.png">
        <img class="mr-5" src="assets/Galicia.png">
        <img class="mr-5" src="assets/havas.png">
        <img class="mr-5" src="assets/prisma.png">
        <img class="mr-5" src="assets/Santander.png">
    </div>
</section>

<section>
    <div class="clientsMobile pb-1 align-items-center justify-content-center" style="background-color: rgba(34, 38, 42, 0.9)">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/bbva2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/Galicia2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/havas2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/prisma2.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/Santander2.png" alt="Random first slide">
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="mb-5 VivíTuExperiencia" style="background-color: #f2f2f2;">
    <div class="pt-2 d-flex flex-column justify-content-center align-items-center">
        <h4 class="my-4 font-weight-light">Encontrá la solución ideal para <span class="font-weight-bold">tus</span> procesos.</h4>
    </div>

    <div class="letra d-flex align-items-center justify-content-center objectsViviTuExperiencia">
        <div class="p-5 mx-4 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/elegi.png">
            <h5 class="font-weight-bold" style="margin-top: 22px;">Elegí</h5>
        </div>
        <div class="p-5 mx-4 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/transforma.png">
            <h5 class="font-weight-bold" style="margin-top: 25px;">Transformá</h5>
        </div>
        <div class="p-5 mx-4 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/escala.png">
            <h5 class="font-weight-bold mt-4">Escalá</h5>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <button mat-raised-button class="mb-5 rounded-pill boton text-white align-self-center" routerLink="/soluciones">Encontrá tu solución</button>
    </div>
</section>

<section class="my-5">
    <div class="d-flex justify-content-center bg-home2">
        <div class="d-flex flex-column align-items-center mx-5 mt-3 bg-homeObjects w-25">
            <img src="assets/digit.png" class="logo-main mb-3">
            <h5 class="mb-3">Implementá nuevas tecnologías</h5>
            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <div class="d-flex flex-column align-items-center mx-5 mt-3 bg-homeObjects w-25">
            <img src="assets/lightbulb.png" class="logo-main mb-3">
            <h5 class="mb-3">Generá ahorros</h5>
            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <div class="d-flex flex-column align-items-center mx-5 mt-3 bg-homeObjects w-25">
            <img src="assets/rocket.png" class="logo-main mb-3">
            <h5 class="mb-3">Potencia tu empresa</h5>
            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
    </div>
</section>

<section class="bg-home3 text-center d-flex flex-column align-items-center justify-content-center">
    <h5 class="text-white font-weight-light">Te ayudamos a emprender un camino de transformación, usando nuestra experiencia, tecnología e innovación.</h5>
</section>