//////////////////////////////////////////////////////  Fondos Home

.bg-home1 {
  background-image: url(/assets/bg-main1.png);
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}

.bg-home2 {
  background-image: url(/assets/bg-main5.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
}

.bg-home3 {
  background-image: url(/assets/rectangle-main.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25%;
}

.colorGris {
  background-color: #212529;
}

.clientsMobile {
  display: none;
}

h5 {
  font-size: 15px;
}

.EncontraTuSolucion h5 {
  font-size: 20px;
}

.EncontraTuSolucion {
  background-image: url(/assets/trazado.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stats {
  height: 30%;
}

.stat {
  width: 18%;
}


//////////////////////////////////////////////////////  Responsive

//////////////////////////////////////////////////////  iPhone X
@media only screen and (min-width: 100px) and (max-width: 900px) {
    .bg-home1 {
      background-image: url(/assets/bg-main1.png);
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 60%;
    }

    .bg-home1 h2{
      font-size: 20px;
    }

    .clientsDesktop {
      display: none;
    }

    .clientsMobile {
      display: flex;
    }

    .EncontraTuSolucion h4 {
      font-size: 25px;
      text-align: center;
    }

    .EncontraTuSolucion img{
      width: 40px;
      height: 40px;
    } 

    .EncontraTuSolucion .letra {
      flex-direction: column;
    }

    .process {
      padding: 0%;
    }

    .EncontraTuSolucion .letra img {
      width: 40%;
      height: 40%;
    }

    .EncontraTuSolucion .letra h5 {
      font-size: 20px;
    }

    .bg-home3 {
        height: 15%;
    }

    .bg-home3 h5 {
        font-size: 0.9rem;
    }

    .bg-home2 {
      flex-direction: column;
      align-items: center;
    }

    .bg-home2 h5 {
      font-size: 15px;
      text-align: center;
    }

    .bg-home2 p {
      font-size: 0px;
    }

    .letra .process {
      padding: 0%;
      margin: 0%;
    }

    h6 {
      font-size: 0px;
    }

    .letra h5 {
      font-size: 100%;
    } 
}