<section class="d-flex align-items-center bg-home1 pt-5">
    <div class="d-flex flex-column align-items-start w-75" *ngIf="currentLanguage() == 'es'">
        <h2 class="subtitle animated pulse m-0">Viví tu <br> experiencia</h2>
        <ngx-typed-js [typeSpeed]="50" [backSpeed]="70" [loop]="true" [strings]="fontTextEs"
            (preStringTyped)="doSmth($event)">
            <h2 [ngClass]="{'font-especial': fontTextEs[positionArrayText] == 'vivatia.'}" class="typing"></h2>
        </ngx-typed-js>
        <button *ngIf="!isMobile()" mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1"
            (click)="openDialog()">Contactanos</button>
    </div>
    <div class="d-flex flex-column align-items-start w-75" *ngIf="currentLanguage() == 'en'">
        <h2 class="subtitle animated pulse m-0">Live your <br></h2>
        <ngx-typed-js [typeSpeed]="50" [backSpeed]="70" [loop]="true" [strings]="fontTextEn"
            (preStringTyped)="doSmth($event)">
            <h2 [ngClass]="{'font-especial': fontTextEn[positionArrayText] == 'vivatia'}" class="typing"></h2>
        </ngx-typed-js>
        <h2 class="subtitle animated pulse m-0">experience.</h2>
        <button *ngIf="!isMobile()" mat-raised-button class="mt-2 rounded-pill boton text-white px-3 py-1"
            (click)="openDialog()">Contact us</button>
    </div>
    <div *ngIf="isMobile() == true" style="box-sizing: solid white">
        <img class="ml-2" src="assets/agus-mobile.png" style="max-width: 95%; height: auto;">
    </div>
    <button *ngIf="isMobile() == true && currentLanguage() == 'en'" mat-raised-button
        class="mt-2 rounded-pill boton text-white px-3 py-1 w-75" (click)="openDialog()">Contact us</button>
    <button *ngIf="isMobile() == true && currentLanguage() == 'es'" mat-raised-button
        class="mt-2 rounded-pill boton text-white px-3 py-1 w-75" (click)="openDialog()">Contactanos</button>
</section>

<!-- CLIENTES WEB -->
<section class="clientsDesktop align-items-center flex-column" style="background-color: #F3F3F3">
    <div class="mt-5 mb-4 d-flex align-items-center align-content-center w-50 justify-content-between clients">
        <img class="animated zoomIn" [src]="imgBBVA" (mouseover)="imgBBVA = 'assets/clientes/bbva.png'"
            (mouseout)="imgBBVA = 'assets/clientes/bbva-bn.png'">

            <img class="animated zoomIn" [src]="imgXEROX" (mouseover)="imgXEROX = 'assets/clientes/xerox.png'"
            (mouseout)="imgXEROX = 'assets/clientes/xerox-bn.png'">

        <img class="animated zoomIn" [src]="imgGALENO" (mouseover)="imgGALENO = 'assets/clientes/galeno.png'"
            (mouseout)="imgGALENO = 'assets/clientes/galeno-bn.png'">

            <img class="animated zoomIn" [src]="imgCLOVER" (mouseover)="imgCLOVER = 'assets/clientes/clover.png'"
            (mouseout)="imgCLOVER = 'assets/clientes/clover-bn.png'">

        <img class="animated zoomIn" [src]="imgSANTANDER" (mouseover)="imgSANTANDER = 'assets/clientes/santander.png'"
            (mouseout)="imgSANTANDER = 'assets/clientes/santander-bn.png'">

        <img class="animated zoomIn" [src]="imgGROUPM" (mouseover)="imgGROUPM = 'assets/clientes/groupm.png'"
            (mouseout)="imgGROUPM = 'assets/clientes/groupm-bn.png'">
    </div>
    <p class="text-dark mt-3 mb-4 letra" routerLink="/nosotros" style="cursor: pointer;">
        {{ "HOME.VER_TODOS" | translate }}</p>
</section>

<!-- CLIENTES MOBILE -->
<section class="d-flex align-items-center flex-column" style="background-color: #F3F3F3">
    <div class="clientsMobile pt-5 pb-3 align-items-center justify-content-between flex-wrap">
        <!-- style="background-color: rgba(34, 38, 42, 0.9)" -->
        <img class="my-3" src="assets/clientes/bbva-bn.png">
        <img class="my-3" src="assets/clientes/xerox-bn.png">
        <img class="my-3" src="assets/clientes/galeno-bn.png">
        <img class="my-3" src="assets/clientes/clover-bn.png">
        <img class="my-3" src="assets/clientes/groupm-bn.png">
        <img class="my-3" src="assets/clientes/santander-bn.png">
    </div>
    <div class="d-flex justify-content-center mb-3 clientsMobile">
        <p class="text-dark letra" routerLink="/nosotros" style="cursor: pointer;">{{ "HOME.VER_TODOS" | translate }}
        </p>
    </div>
</section>

<section class="EncontraTuSolucion py-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h4 class="py-4 font-weight-light m-0" [innerHTML]="'HOME.SOLUCION_IDEAL' | translate"></h4>
    </div>

    <div class="py-3 letra d-flex justify-content-center align-items-center">
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-elegi.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_1" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_1_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-implementa.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_2" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_2_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-transforma.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_3" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_3_DESC' | translate"></p>
        </div>
        <div class="py-3 px-1 d-flex flex-column align-items-center process">
            <img class="home-small-logo" src="assets/home-escala.png">
            <h5 class="font-weight-bold" style="margin-top: 15px;">{{ "HOME.SOLUCION_IDEAL_4" | translate }}</h5>
            <p class="pt-1 text-center text-dark w-75" [innerHTML]="'HOME.SOLUCION_IDEAL_4_DESC' | translate"></p>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center pt-2 pb-5">
        <button mat-raised-button class="rounded-pill boton text-white align-self-center py-1 px-3"
            style="font-size: medium;" routerLink="/soluciones">{{ "HOME.BUSQUEDA" | translate }}</button>
    </div>
</section>

<!-- <section class="bg-home3 text-center d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <img src="assets/pvc.png" href="https://www.linkedin.com/in/pablovazquez1/" class="img-pvc mb-3 mt-2" alt="">
        <h5 class="text-dark font-weight-bold mb-1">Pablo Vázquez Conde</h5>
        <h5 class="text-dark mb-3">Director</h5>
        <h5 class="text-dark font-weight-bold font-italic pvc" style="width: 55%;">"Te ayudamos a emprender un camino de transformación, usando nuestra experiencia, tecnología e innovación."</h5>
    </div>
</section> -->