<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Recursos humanos</h1>
        <h5 class="w-75 text-white">La efectividad en el uso de las tecnologías de una empresa depende en gran medida de sus recursos humanos. Mediante nuestras soluciones te ofrecemos simplificar los distintos procesos de búsqueda y selección de personal, gestión de licencias y certificados y recibos de sueldo.</h5>
    </div>
</div>

<div class="d-flex py-4 flex-column text-center align-items-center">
    <h4 class="font-weight-bold mt-4 mb-3 animated fadeInRight">¿Como personalizamos tu proceso?</h4>
    <h6 class="text-personalizacion animated fadeInRight">Como resultado de análisis de la problemática en diferentes empresas, hemos pensando la mejor solución para resolver esto, te lo contamos a continuación.</h6>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">Contrataciones</span></h4>
        <br>
        <h6>Generamos una solicitud de contratación, pasará por un proceso de aprobación y se realizará una búsqueda para el puesto.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-rrhh1.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">2. Recibo de sueldo</span></h4>
        <br>
        <h6>Identificamos los recibos de sueldos generados desde el sistema de liquidación de haberes. Luego se firman digitalmente tanto por el empleador, como por el empleado y finaliza el proceso el responsable de RRHH.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-rrhh2.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">3. Solicitudes</span></h4>
        <br>
        <h6>Los empleados podrán generar distintas solicitudes digitales que pasarán por un proceso de revisión para ser aprobadas o rechazadas.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-rrhh3.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">4. Legajos digitales</span></h4>
        <br>
        <h6>Contiene todos los documentos asociados al trabajador a lo largo de su vida en la empresa. Los mismos podrán ser consultados por los empleados como por el personal de RRHH habilitado.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-rrhh4.png" class="img-cap2" alt="">
    </div>
</div>

<section class="bg-main3 benefitsDesktop flex-column justify-content-center align-items-center" style="background-color: white">
    <h2 class="mb-4 font-weight-bold animated fadeInDown">Beneficios</h2>
    <div class="d-flex mt-4 justify-content-center align-items-start text-center w-75 animated fadeInDown">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-rrhh1.png">
            <h5 class="mb-1">Reducción de costos <br> de procesamiento</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-rrhh2.png">
            <h5 class="mb-1">Mayor supervisión <br> y control</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-rrhh3.png">
            <h5 class="mb-1">Reducción de errores <br> humanos manuales</h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-rrhh4.png">
            <h5 class="mb-1">Visibilidad del estado de <br> incorporación de empleados</h5>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: white">
        <h2 class="my-4 font-weight-bold">Beneficios</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-rrhh1.png">
                    <h5 class="mb-4">Reducción de costos <br> de procesamiento</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-rrhh2.png">
                    <h5 class="mb-4">Mayor supervisión <br> y control</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-rrhh3.png">
                    <h5 class="mb-4">Reducción de errores <br> humanos manuales</h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-rrhh4.png">
                    <h6 class="mb-4">Visibilidad del estado de <br> incorporación de empleados</h6>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<app-sumate></app-sumate>