// HEADER

h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 0%;
}

.header {
    background-image: url('../../../../../assets/header-rrhh.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 62%;
    opacity: 1.47;
}

.text-header {
    width: 90%;
    padding-left: 10%;
    animation-delay: 0.3s;
}

h5 {
    font-size: 20px;
    line-height: 2.0;
    font-weight: 100;
    margin: 0%;
}

// BENEFICIOS 

.bg-main3 {
    background-image: url('../../../../../assets/bg-main5.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
}

.small-logo {
    max-width: 6rem;
}

.benefitsMobile {
    display: none;
}

.benefitsDesktop {
    display: flex;
}

.benefit {
    width: 22%;
}

.benefit h5 {
    font-weight: bold;
}

p {
    font-size: 13px;
    width: 60%;
}

// ITEMS RRHH

h6 {
    line-height: 1.8;
  }
  
.descripcion {
    width: 38%; 
    font-family: 'Montserrat';
}
  
.item1 {
    height: 45%;
}
  
.img-captika1 {
    max-width: 370px;
    height: auto;
}
  
.item2 {
    background-color: #F3F3F3; 
    height: 50%;
}
  
.img-captika2 {
    max-width: 370px;
    height: auto;
}
  
.descripcion2 {
    width: 38%; 
    font-family: 'Montserrat';
    order: 1;
}

//

.stats {
    height: 20%;
}
  
.stat {
    width: 20%;
}

.stat h5 {
    font-size: 25px;
    transition: 0.2s;
}

.stat h5:hover {
    font-size: 30px;
    cursor: pointer;
}
  

@media only screen and (min-width: 100px) and (max-width: 900px) {
    // HEADER

    .header {
        padding-top: 20%;
        height: 52%;
        opacity: 1.47;
    }

    .text-header {
        width: 100%;
        padding: 12px;
    }

    h1 {
        font-size: 52px;
    }

    .text-header h5 {
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }

    // BENEFICIOS

    .benefitsDesktop {
        display: none;
    }
    
    .benefitsMobile {
        display: flex;
        font-size: 110%;
    }

    .benefitsMobile h2 {
        font-size: 20px;
    }

    //

    h2 {
        font-size: 25px;
    }
    
    .descripcionItem {
        flex-direction: column;
        padding: 10px;
    }
    
    .descripcion {
        width: 100%;
        align-items: center;
        text-align: justify;
    }
    
    .descripcion2 {
        width: 100%;
        align-items: center;
        text-align: justify;
        order: 0;
    }
    
    .item1 {
        height: 50%;
    }
      
    .item2 {
        background-color: #F3F3F3; 
        height: 50%;
    }
    
    h4 {
        font-size: 17px;
        text-align: center;
    }
    
    h6 {
        font-size: 14px;
    }
    
    .img-captika1 {
        max-width: 160px;
        height: auto;
    }
      
    .img-captika2 {
        max-width: 160px;
        height: auto;
        margin: 0%;
    }

    //

    .stats {
        height: 20%;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    .stats h2 {
        font-size: 22px;
    }
  
    .stats h5 {
        font-size: 14px;
    }
      
    .stat {
        width: 50%;
    }

    h3 {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        text-align: center;
    }
}