<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Recursos humanos</h1>
        <h5 class="w-75 text-white">La efectividad en el uso de las tecnologías de una empresa depende en gran medida de sus recursos humanos. Mediante nuestras soluciones te ofrecemos simplificar los distintos procesos de búsqueda y selección de personal, gestión de licencias y certificados y recibos de sueldo.</h5>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold"> Seguridad</h4>
        <br>
        <h6>Thuban se conecta a la base de datos mediante un usuario y clave que se configura en un archivo de seguridad. Dicho archivo puede configurarse para que se encripte al iniciar la aplicación por primera vez.</h6>
    </div>
    <div>
        <img src="assets/rrhh-seguridad.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="letra6 font-weight-bold">Historial</h4>
        <br>
        <h6>Una función que tiene Thuban Software que resulta muy útil a la hora de auditar documentos, es el visor de la historia del documento. Cada documento cuenta con un módulo de auditoria que permite ver las acciones realizadas sobre él. El mismo registra cuando y por quien un documento fue creado, consultado, editado y cuáles fueron las modificaciones realizadas.</h6>
    </div>
    <div>
        <img src="assets/rrhh-historial.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">Notificaciónes</h4>
        <br>
        <h6>Además cuenta con un módulo de envío automático de notificaciones por correo electrónico el cual se puede configurar en distintas etapas del flujo de trabajo y puede ser consecuencia de, por ejemplo, un cambio de estado de un documento o una alerta a una regla de negocio.</h6>
    </div>
    <div>
        <img src="assets/rrhh-notificaciones.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center pt-5 pb-0">
    <h3 class="font-weight-bold mb-4">¡Descarga contenido de nuestras soluciones!</h3>
</div>
<section class="text-center d-flex align-items-center justify-content-center border-success stats mb-3">
    <div class="stat animated fadeInDown" style="animation-delay: 0.7s">
        <h5 class="letra6 font-weight-light">Contrataciones</h5>
        <mat-icon [ngStyle]="{'color':'#145FA3'}">get_app</mat-icon>
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 0.9s">
        <h5 class="letra6 font-weight-light">Recibo de sueldo</h5>
        <mat-icon [ngStyle]="{'color':'#145FA3'}">get_app</mat-icon>
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 1.1s">
        <h5 class="letra6 font-weight-light">Solicitudes</h5>
        <mat-icon [ngStyle]="{'color':'#145FA3'}">get_app</mat-icon>   
    </div>
    <div class="stat animated fadeInDown" style="animation-delay: 1.3s">
        <h5 class="letra6 font-weight-light">Legajos digitales</h5>
        <mat-icon [ngStyle]="{'color':'#145FA3'}">get_app</mat-icon>
    </div>
</section>

<app-sumate></app-sumate>