<section class="bg-main1 d-flex align-items-center justify-content-start pt-5">
    <div class="mx-5">
        <img class="logo-captika" src="assets/logoCaptika.png">
        <h5 class="my-4 font-weight-bold letra4">Software de Captura</h5>
        <p>Captika es un software de captura, compatible <br> con scanners TWAIN que se instala por puesto de
            <br>captura y cuyo licenciamiento es independiente <br>a la productividad</p>
        <button mat-raised-button class="mt-3 rounded-pill boton2 text-white">Contactanos</button>
    </div>
</section>

<section class="bg-main2 d-flex flex-column align-items-center justify-content-center text-white text-center">
    <h5>Plataforma diseñada para trabajar en entornos<br>donde los documentos y el proceso son la clave del negocio.
    </h5>
</section>

<section class="bg-main3 d-flex flex-column align-items-center justify-content-center">

    <div class="d-flex flex-column justify-content-center mx-5">
    
        <div class="d-flex flex-column align-items-start justify-content-start ml-5">
            <h3 class="font-weight-bold letra4">¿Cómo funciona Captika?</h3>
            <hr class="rulerGreen">
        </div>

        <div class="grid2x2">
            <div class="box box1">
                <div class="my-3 d-flex justify-content-end">
                    <img class="home-small-logo2" src="assets/logoCaptura.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="letra4 font-weight-bold">Captura de información</h5>
                        <p>Permite la importación <br>desde distintos repositorios.</p>
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div class="my-3 d-flex justify-content-start">
                    <img class="home-small-logo2" src="assets/logoReconocimiento.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="letra4 font-weight-bold">Reconocimiento</h5>
                        <p>Permite reconocer documentos<br>de diversas maneras.</p>
                    </div>
                </div>
            </div>
            <div class="box box3">
                <div class="my-3 d-flex justify-content-end">
                    <img class="home-small-logo2" src="assets/logoValidacion.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="letra4 font-weight-bold">Validaciónes</h5>
                        <p class="mr-5">Realiza validacionces con<br>base de datos y webservices.</p>
                    </div>
                </div>
            </div>
            <div class="box box4">
                <div class="my-3 d-flex justify-content-start">
                    <img class="home-small-logo2" src="assets/logoPublicacion.png">
                    <div class="mx-5 d-flex flex-column justify-content-center align-items-start">
                        <h5 class="letra4 font-weight-bold">Publicación</h5>
                        <p>Se puede publicar a un único repositorio<br>o a múltiples de forma simultánea</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-main2 d-flex align-items-center justify-content-around text-white text-center">
    <div>
        <img class="home-small-logo mb-3" src="assets/logoTime.png">
        <p>Reducimos el tiempo <br>de procesamiento</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoRoi.png">
        <p>Generamos aumento<br>de productividad</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoSaving.png">
        <p>Reducimos el costo<br>de procesamiento</p>
    </div>
    <div>
        <img class="home-small-logo mb-3" src="assets/logoSecurity.png">
        <p>Incrementamos la<br>seguridad en la información</p>
    </div>
</section>


<section class="videoCaptika content d-flex flex-column align-items-center justify-content-center" id="myVideoBox">
    <video controls muted loop oncanplay="this.muted=true" id="myVideo">
        <source src="assets/captikaOverview.mp4" type="video/mp4" class="thubanView">
        Your browser does not support HTML5 video.
    </video>
</section>
