<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/captika-color.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">CAPTIKA SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">SOFTWARE DE CAPTURA</h5>
        <br>
        <h5 class="text-white font-weight-lighter">Plataforma de digitalización que permite a las personas y organizaciones gestionar la captura de los documentos digitales y físicos.</h5>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold">/ ¿Cómo puede beneficiar tus procesos?</h4>
        <br>
        <h6>Digitalizá y capturá información desde distintos repositorios. Captika se instala por puesto de captura, el licenciamiento no está relacionado al escáner ni la productividad del mismo.</h6>
        <br>
        <h6 class="letra font-weight-bold">Escaner <br> Filesystem <br> Thuban Software</h6>
    </div>
    <div>
        <img src="assets/captika1.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold">/ ¿Cómo reconóce tu información?</h4>
        <br>
        <h6>Una vez que la información es digitalizada podemos reconocer datos y, gracias a nuestras diversas herramientas, podemos extraer el contenido de los documentos.</h6>
        <br>
        <h6 class="letra font-weight-bold">También podrás realizar validaciones con bases de datos y webservices.</h6>
    </div>
    <div>
        <img src="assets/reconocimiento.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item3 animated fadeInUp">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold">/ ¿Cómo publica tu información?</h4>
        <br>
        <h6>Con Captika vas a poder publicar a múltiples repositorios de forma simultanea.</h6>
        <br>
        <h6 class="letra font-weight-bold">Filesystem <br> Bases de datos <br> Thuban Software <br> FTP/SFTP <br> SharePoint</h6>
    </div>
    <div>
        <img src="assets/publicacion.png" class="img-captika3" alt="">
    </div>
</div>

<div class="text-center d-flex align-items-center justify-content-center border-success stats animated fadeInUp">
    <div class="stat">
        <h2 class="font-weight-bold">+5.000.000</h2>
        <h5 class="text-dark font-weight-light">Imágenes gestionadas</h5>
    </div>
    <div class="stat">
        <h2 class="font-weight-bold">+130</h2>
        <h5 class="text-dark font-weight-light">Puestos de captura</h5>
    </div>
    <div class="stat">
        <h2 class="font-weight-bold">+1600</h2>
        <h5 class="text-dark font-weight-light">Proyectos implementados</h5>
    </div>
</div>