<div class="header-captika d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/captika-color.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">CAPTIKA SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">SOFTWARE DE CAPTURA</h5>
        <br>
        <h5 class="text-white font-weight-lighter">Plataforma de digitalización que permite a las  <br> personas y organizaciones gestionar la captura <br> de los documentos digitales y físicos.</h5>
    </div>
</div>