.header-captika {
  padding-top: 5%;
  height: 60%;
  background-color: #7FAA30;
}

.logo-captika {
    max-width: 380px;
    height: 380px;
}

.text-header {
  width: 30%;
  font: Light 25px/46px Montserrat;
}
