<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/product-thuban.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">THUBAN SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">{{ "PRODUCTOS.THUBAN" | translate }}</h5>
        <br>
        <h5 class="text-white font-weight-lighter">{{ "THUBAN.DESCRIPCION_HEADER" | translate }}</h5>
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">{{ "THUBAN.SEGURIDAD" | translate }}</h4>
        <br>
        <h6>{{ "THUBAN.SEGURIDAD_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/rrhh-seguridad.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="letra6 font-weight-bold">{{ "THUBAN.HISTORIAL" | translate }}</h4>
        <br>
        <h6>{{ "THUBAN.HISTORIAL_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/rrhh-historial.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">{{ "THUBAN.NOTIFICACIONES" | translate }}</h4>
        <br>
        <h6>{{ "THUBAN.NOTIFICACIONES_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/rrhh-notificaciones.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight" style="background-color: #00326B;">
    <div class="d-flex flex-column descripcion2">
        <h4 class="text-white font-weight-bold">{{ "THUBAN.MONITORES" | translate }}</h4>
        <br>
        <h6 class="text-white">{{ "THUBAN.MONITORES_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/monitores.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">{{ "THUBAN.GRUPOS" | translate }}</h4>
        <br>
        <h6>{{ "THUBAN.GRUPOS_DESC" | translate }}</h6>
    </div>
    <div>
        <img src="assets/grupos.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex flex-column text-center justify-content-center align-items-center descripcionItem captika animated fadeInLeft">
    <div class="d-flex flex-column descripcioncaptika">
        <h3 class="font-weight-bold">{{ "THUBAN.SABIAS" | translate }}</h3>
        <h6 class="m-0">{{ "THUBAN.DESCUBRI" | translate }}</h6>
        <br>
    </div>
    <div>
        <img src="assets/captika-color.png" class="img-conoce-captika" routerLink='/captika' alt="">
    </div>
</div>

