* {
  font-family: 'Montserrat';
}

.header-captika {
  padding-top: 6%;
  height: 90%;
  background-color: #00326B;
}

.logo-captika {
    max-width: 380px;
    height: 380px;
}

.text-header {
  width: 26%;
}

h6 {
  line-height: 1.8;
}

h4 {
  font-size: 35px;
}

.descripcion {
  width: 38%; 
  font-family: 'Montserrat';
}

.item1 {
  height: 45%;
}

.img-captika1 {
  max-width: 370px;
  height: auto;
}

.item2 {
  background-color: #F3F3F3; 
  height: 50%;
}

.img-captika2 {
  max-width: 370px;
  height: auto;
}

.descripcion2 {
  width: 38%; 
  font-family: 'Montserrat';
  order: 1;
}

.stats {
  height: 40%;
  background-color: #F3F3F3;
}

.stat {
  width: 20%;
}

.green {
  color: #7FAA30;
}

// ¿Sabías que podes publicar tu información en Thuban Software?

.img-conoce-captika{
  max-width: 280px;
  height: auto;
  transition: 0.3s;
}

.img-conoce-captika:hover {
  max-width: 300px;
  height: auto;
  cursor: pointer;
}

.captika {
  height: 75%;
  background-color: #F3F3F3; 
}

.descripcioncaptika {
  width: 38%; 
  font-family: 'Montserrat';
}

@media only screen and (min-width: 100px) and (max-width: 426px) {

  .header-captika {
    flex-direction: column;
    align-items: center;
    height: 60%;
  }

  .logo-captika {
    max-width: 150px;
    height: 150px;
  }

  .text-header {
    width: 100%;
    align-items: center;
  }

  h2 {
    font-size: 25px;
  }

  h5 {
    font-size: 15px;
    text-align: center;
  }

  .descripcionItem {
    flex-direction: column;
    padding: 10px;
  }

  .descripcion {
    width: 100%;
    align-items: center;
    text-align: justify;
  }

  .descripcion2 {
    width: 100%;
    align-items: center;
    text-align: justify;
    order: 0;
  }

  .item1 {
    height: 65%;
  }
  
  .item2 {
    background-color: #F3F3F3; 
    height: 70%;
  }
  
  .item3 {
    height: 65%;
  }

  h4 {
    font-size: 17px;
    text-align: center;
  }

  h6 {
    font-size: 14px;
    // margin: 0px 10px 0px 10px;
  }

  .img-thuban1 {
    max-width: 160px;
    height: 160px;
  }
  
  .img-thuban2 {
    margin: 0%;
    max-width: 280px;
    height: auto;
  }
  
  .img-thuban3 {
    max-width: 275px;
    height: auto;
  }

  .stats {
    height: 30%;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .stats h2 {
    font-size: 22px;
  }

  .stats h5 {
    font-size: 14px;
  }

  .stat {
    width: 50%;
  }

  // ¿Sabías que podes publicar tu información en Thuban Software?

  .img-conoce-captika {
    max-width: 150px;
    height: auto;
  }

  .captikan {
    height: 50%;
  }

  .descripcioncaptika {
    width: 100%; 
    font-family: 'Montserrat';
  }

  .descripcioncaptikan h2 {
    font-size: 20px;
  }

  .descripcioncaptika h5 {
    font-size: 12px;
  }
}

