<div class="header-captika d-flex justify-content-center animated fadeInDown">
    <div class="d-flex flex-column justify-content-center">
        <img src="assets/thuban-color.png" class="logo-captika" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center text-header">
        <h2 class="text-white font-weight-bold">THUBAN SOFTWARE</h2>
        <h5 class="text-white font-weight-lighter">GESTOR DOCUMENTAL</h5>
        <br>
        <h5 class="text-white font-weight-lighter">Plataforma diseñada para la creación de soluciones donde los documentos y procesos son la clave del negocio.</h5>
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold"> Seguridad</h4>
        <br>
        <h6>Thuban se conecta a la base de datos mediante un usuario y clave que se configura en un archivo de seguridad. Dicho archivo puede configurarse para que se encripte al iniciar la aplicación por primera vez.</h6>
    </div>
    <div>
        <img src="assets/rrhh-seguridad.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="letra6 font-weight-bold">Historial</h4>
        <br>
        <h6>Una función que tiene Thuban Software que resulta muy útil a la hora de auditar documentos, es el visor de la historia del documento. Cada documento cuenta con un módulo de auditoria que permite ver las acciones realizadas sobre él. El mismo registra cuando y por quien un documento fue creado, consultado, editado y cuáles fueron las modificaciones realizadas.</h6>
    </div>
    <div>
        <img src="assets/rrhh-historial.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">Notificaciones</h4>
        <br>
        <h6>Además cuenta con un módulo de envío automático de notificaciones por correo electrónico el cual se puede configurar en distintas etapas del flujo de trabajo y puede ser consecuencia de, por ejemplo, un cambio de estado de un documento o una alerta a una regla de negocio.</h6>
    </div>
    <div>
        <img src="assets/rrhh-notificaciones.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item2 animated fadeInRight" style="background-color: #00326B;">
    <div class="d-flex flex-column descripcion2">
        <h4 class="text-white font-weight-bold">Monitores</h4>
        <br>
        <h6 class="text-white">También vas a contar con herramientas para poder monitorear el proceso en línea, efectuar seguimientos y poder actuar en función de la información que dichos monitores indiquen.</h6>
    </div>
    <div>
        <img src="assets/monitores.png" class="img-captika2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center py-5 align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="letra6 font-weight-bold">Grupos y permisos</h4>
        <br>
        <h6>Con Thuban vas a poder crear perfiles, grupos y usuarios a un alto nivel de detalle y asignación de permisos. Estos serán definidos de acuerdo con las necesidades de la solución.</h6>
    </div>
    <div>
        <img src="assets/grupos.png" class="img-captika1" alt="">
    </div>
</div>

<div class="d-flex flex-column text-center justify-content-center align-items-center descripcionItem captika animated fadeInLeft">
    <div class="d-flex flex-column descripcioncaptika">
        <h3 class="font-weight-bold">¿Sabías que podes digitalizar tus documentos con Captika Software?</h3>
        <h6 class="m-0">Descubrí cómo podes extraer información de tus documentos.</h6>
        <br>
    </div>
    <div>
        <img src="assets/captika-color.png" class="img-conoce-captika" routerLink='/captika' alt="">
    </div>
</div>

