* {
  font-family: 'Montserrat';
}

.header-captika {
  padding-top: 6%;
  height: 70%;
  background-position: left;
  background-image: url('../../../../assets/bg-thuban.png');
}

.logo-captika {
    max-width: 380px;
    height: 380px;
}

.text-header {
  width: 26%;
}

h6 {
  line-height: 1.8;
}

h4 {
  font-size: 35px;
}

//PROCESO THUBAN
.proceso-thuban {
  max-width: 900px;
  height: auto;
}

.descripcion {
  width: 28%; 
  font-family: 'Montserrat';
}

.item1 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50%;
}

.img-captika1 {
  max-width: 250px;
  height: auto;
  margin: 0px 10px;
}

.item2 {
  background-color: #F3F3F3; 
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50%;
}

.img-captika2 {
  max-width: 250px;
  height: auto;
  margin: 0px 10px;
}

.descripcion2 {
  width: 28%; 
  font-family: 'Montserrat';
  order: 1;
  text-align: end;
}

// ¿Sabías que podes publicar tu información en Thuban Software?

.img-conoce-captika{
  max-width: 280px;
  height: auto;
  transition: 0.3s;
}

.img-conoce-captika:hover {
  max-width: 300px;
  height: auto;
  cursor: pointer;
}

.captika {
  height: 70%;
  background-color: #F3F3F3; 
}

.descripcioncaptika {
  width: 38%; 
  font-family: 'Montserrat';
}

// COMPRAR
.boton {
  background-color: #145FA3;
  cursor: pointer;
}

.boton {
  transition: 0.3s;
}

.boton:hover {
  background-color: #24b54a;
  cursor: pointer;
}

@media only screen and (min-width: 100px) and (max-width: 426px) {

  .header-captika {
    flex-direction: column;
    align-items: center;
    height: 60%;
  }

  .logo-captika {
    max-width: 150px;
    height: 150px;
  }

  .text-header {
    width: 100%;
    align-items: center;
  }

  h2 {
    font-size: 25px;
  }

  h5 {
    font-size: 15px;
    text-align: center;
  }

  .descripcionItem {
    flex-direction: column;
    padding: 10px;
  }

  .descripcion {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: justify;
  }

  .descripcion2 {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: justify;
    order: 0;
  }

  .item1 {
    height: 70%;
  }
  
  .item2 {
    background-color: #F3F3F3; 
    height: 70%;
  }
  
  .item3 {
    height: 70%;
  }

  h4 {
    font-size: 17px;
    text-align: center;
  }

  h6 {
    font-size: 14px;
    // margin: 0px 10px 0px 10px;
  }

  .img-captika1 {
    margin-top: 10%;
    max-width: 160px;
    height: auto;
  }
  
  .img-captika2 {
    margin-top: 10%;
    max-width: 160px;
    height: 130px;
  }
  
  .img-thuban3 {
    margin-top: 10%;
    max-width: 275px;
    height: auto;
  }

  // ¿Sabías que podes publicar tu información en Thuban Software?

  .img-conoce-captika {
    max-width: 150px;
    height: auto;
  }

  .captika {
    height: 50%;
  }

  .descripcioncaptika {
    width: 100%; 
    font-family: 'Montserrat';
  }

  .descripcioncaptika h3 {
    font-size: 20px;
  }

  .descripcioncaptika h6 {
    font-size: 12px;
  }
}

