<div class="d-flex header align-items-center pt-5 justify-content-center">
    <h1 class="mb-2 text-center">{{ "FIRMA_DIGITAL.TITULO" | translate }}</h1>
</div>

<div class="d-flex py-4 flex-column text-center align-items-center">
    <h4 class="font-weight-bold mt-4 mb-3 animated fadeInRight">{{ "FIRMA_DIGITAL.PERSONALIZACION" | translate }}</h4>
    <h6 class="text-personalizacion animated fadeInRight">{{ "FIRMA_DIGITAL.PERSONALIZACION_DESC" | translate }}</h6>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion animated fadeInLeft">
        <h4 class="font-weight-bold letra5"><span class="green-borderh4">1. {{ "FIRMA_DIGITAL.DIGITALIZACION" | translate }}</span></h4>
        <br>
        <h6>{{ "FIRMA_DIGITAL.DIGITALIZACION_DESC" | translate }}</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cap1.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">2. {{ "FIRMA_DIGITAL.FIRMA" | translate }}</span></h4>
        <br>
        <h6>{{ "FIRMA_DIGITAL.FIRMA_DESC" | translate }}</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-firma1.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">3. {{ "FIRMA_DIGITAL.PUBLICACION" | translate }}</span></h4>
        <br>
        <h6>{{ "FIRMA_DIGITAL.PUBLICACION_DESC" | translate }}</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-firma2.png" class="img-cap2" alt="">
    </div>
</div>

<a download="Firma digital" href="assets/firma-digital.pdf">
    <div class="d-flex justify-content-center mb-3">
        <button mat-raised-button class="mt-2 boton text-white px-3 py-1">
            {{ "GENERIC.DESCARGAR_PDF" | translate }}
            <i class="fas fa-download"></i>
        </button>
    </div>
</a>

<div class="d-flex justify-content-center align-items-center my-5 diseñadapor">
    <h4 class="my-2 mx-2 font-weight-bold text-center" [innerHTML]="'FIRMA_DIGITAL.DISEÑADA_POR' | translate"></h4>
    <div class="d-flex">
        <img class="mx-4" routerLink="/captika" src="assets/captika-color.png">
        <img class="mx-4" routerLink="/thuban" src="assets/thuban-color.png">
    </div>
</div>

<section class="bg-main3 benefitsDesktop flex-column justify-content-center align-items-center" style="background-color: white">
    <h2 class="mb-4 font-weight-bold animated fadeInDown">{{ "FIRMA_DIGITAL.BENEFICIOS" | translate }}</h2>
    <div class="d-flex mt-4 justify-content-center align-items-start text-center w-75 animated fadeInDown">
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-ld4.png">
            <h5 class="mb-1" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_1' | translate"></h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-firma1.png">
            <h5 class="mb-1" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_2' | translate"></h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-firma2.png">
            <h5 class="mb-1" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_3' | translate"></h5>
        </div>
        <div class="mx-1 d-flex flex-column justify-content-center align-items-center benefit">
            <img class="mb-3 small-logo" src="assets/benefit-comp2.png">
            <h5 class="mb-1" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_4' | translate"></h5>
        </div>
    </div>
</section>

<section>
    <div class="benefitsMobile pb-1 flex-column align-items-center justify-content-center text-center animated fadeIn" style="background-color: white">
        <h2 class="my-4 font-weight-bold">{{ "FIRMA_DIGITAL.BENEFICIOS" | translate }}</h2>
        <ngb-carousel [interval] = '3000' [showNavigationArrows] = 'false' [showNavigationIndicators]="false"> 
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-ld4.png">
                    <h5 class="mb-4" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_1' | translate"></h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-firma1.png">
                    <h5 class="mb-4" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_2' | translate"></h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-firma2.png">
                    <h5 class="mb-4" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_3' | translate"></h5>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="mx-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3 small-logo" src="assets/benefit-comp2.png">
                    <h5 class="mb-4" [innerHTML]="'FIRMA_DIGITAL.BENEFICIOS_4' | translate"></h5>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<app-sumate></app-sumate>
