<div class="d-flex header align-items-center pt-5">
    <div class="text-header animated fadeInDown">
        <h1 class="mb-2">Contratos</h1>
        <h5 class="w-75 text-white">Suelen ser documentos en papel que se procesan y administran de forma manual. Ahora podes reducir el riesgo, costo, retrasos y confusión en lo que respecta a los contratos mediante nuestras soluciones.</h5>
    </div>
</div>

<div class="d-flex py-4 justify-content-center">
    <h4 class="font-weight-bold mt-4">¿Como personalizamos tu proceso?</h4>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">1. Alta de contratos</span></h4>
        <br>
        <h6>El sector de legales podrá dar de alta contratos en <span class="letra6 font-weight-bold">Thuban Software</span>, adjuntando el documento en formato PDF o Word.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cont1.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">2. Notificación a cliente</span></h4>
        <br>
        <h6>El cliente recibe un mail, indicándole que posee contratos pendientes de firmar.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cont2.png" class="img-cap2" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item1 animated fadeInLeft">
    <div class="d-flex flex-column descripcion">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">3. Firma del cliente</span></h4>
        <br>
        <h6>Al momento de firmar, el cliente podrá optar por firmar conforma o enviar a revisión, donde tendrá la posibilidad de agregar notas detallando la disconformidad.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cont3.png" class="img-cap1" alt="">
    </div>
</div>

<div class="d-flex justify-content-center align-items-center descripcionItem item2 animated fadeInRight">
    <div class="d-flex flex-column descripcion2">
        <h4 class="font-weight-bold letra6"><span class="blue-borderh4">4. Búsqueda y consulta</span></h4>
        <br>
        <h6>En <span class="letra6 font-weight-bold">Thuban Software</span>, podrá revisar todos los contratos en cualquier momento y firmar los que tenga pendientes.</h6>
        <br>
    </div>
    <div>
        <img src="assets/img-cap4.png" class="img-cap2" alt="">
    </div>
</div>

<app-sumate></app-sumate>
